.shoppingCartWrapper {

	.cart-table__border-top {
		border-top: 1px solid $lightergray;
	}

	.toggle-highlight {
		transition: .3s background-color ease-out;
	}

	.panel-pane {
		border: 1px solid $lightergray;
    margin-bottom: 25px;
    padding: 5px;
    background-color: $white;
  }


  .pane-title {
    background-color: $blue;
    background-image: url(../images/shoppingcart04.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.25em;
    padding: 9px 15px;
    padding-left: 45px;
    margin: -5px -5px 15px -5px;
  }

  .pane-tmobile-cart-tmobile-cart {
		margin-bottom: 0;
		border-bottom: 1px solid $lightergray;
  }

}

.view-tmobile-shopping-cart-block {
	padding: 0 7px 16px;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th {
		font-size: 15px;
		font-weight: bold;
		padding-right: 5px;
		padding-bottom: 9px;
		padding-left: 5px;
		color: $blue;
		background: transparent;
		text-align: left;
	}

	td {
		font-size: 14px;
		line-height: 15px;
		padding: 5px 0;
	}

	tbody tr td:last-child,
	.alignRight {
		padding-right: 5px;
		text-align: right;
	}

	tbody tr td:first-child {
		padding-right: 5px;
		padding-left: 5px;
		text-align: left;
	}

	.phone_title {
		color: $black;
	}

	.is-small {
		font-size: 12px;
	}

	span.is-small {
		display: block;
	}

	.cart-table {
		width: 100%;
	}

	.boldblue {
		font-weight: bold;
		color: $blue;
		font-size: $p;
	}

	.blue-bundle td {
		color: $blue;
		font-weight: bold;
	}

	.green {
		color: $green;
	}

	.basket-onetime {
		margin-top: 25px;
	}

	.basket-onetime th {
		padding-top: 15px;
		border-top: 1px solid $lightergray;
	}

	.list-plus.is-bluetheme {
		margin: 5px 0 15px;
		padding: 0 !important;

		li {
			font-size: 14px;
			margin: 5px 0;
			padding-left: 25px;
			list-style: none;
			line-height: 20px;

			@include icon-plus($blue);

			a {
				font-size: 14px;
			}

		}

	}

	.spacer {
		padding: 3px 0;
	}

	.total {
		color: $normalgray;
		background-color: $lightestgray;

		td {
			font-size: 16px;
			font-weight: bold;
			padding: 9px 5px;
		}

		td:first-child {
			padding-right: 0;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.alignRight {
			padding-left: 0;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

	}

	.footnote,
	.footnote td {
		font-size: 12px !important;
		margin: 0;
		padding: 5px 0;
		padding-right: 5px !important;
		padding-left: 5px !important;
		color: #777 !important;
	}

	.button.basket-details {
		font-size: 12px;
		font-weight: normal;
		display: inline-block;
		width: 100%;
		margin: 15px 0 5px;
		padding: 9px 5px;
		text-align: center;
		color: #777;
		border-radius: 5px;
		background-image: none;
		background-color: $lightestgray;


		&:hover {
			text-decoration: none;
		}

		&:after {
			display: none;
		}

	}

	.line-item-summary-checkout,
	.line-item-summary {
		width: 100%;
		margin: 0;
		padding: 0;

		a {
			width: 100%;
			margin: 0;
			color: white; // override
			text-decoration: none; // override

			&.disabled {
				background-image: none;
				background-color: $lightestgray;
    		color: $lightergray;
    		cursor: default;
    	}

			&:hover {
				background-color: $green;

				&.disabled {
					color: $lightergray;
					background-color: $lightestgray;
					background-image: none;
				}

			}

		}

	}

	.additions td {
		font-size: 13px;
		padding: 2px 10px;
	}

}

.pane-tmobile-blocks-return-policy, .checkout-cart-text {
  color: #777;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid $lightergray;
  border-top: medium none !important;
  margin-top: -1px !important;
  padding: 5px 10px 16px 10px;

  img {
	  margin: 25px 0 0;
		background-color: $white;
		border: 1px solid $lightergray;
	}

	a:hover {
		text-decoration: none;
	}

}

.pane-tmobile-blocks-return-policy {
	padding-bottom: 15px;
}

.panel-pane.pane-tmobile-blocks-call-ben {
	padding: 5px 10px 16px 10px;

	.title {
		background-color: $blue;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.25em;
    padding: 9px 15px;
    margin: -5px -10px 20px -10px;
	}

}


.checkout-cart-text a {
    padding-left: 2px;
}

.pane-tmobile-package-update-update-package-custom-cart-block.panel-pane {
	padding: 0 10px 15px;

	.pane-title{
		margin: 0 -10px 15px;
	}

	.view-tmobile-shopping-cart-block {
		padding: 0;
	}

	.spacer td {
		padding-top: 15px;
	}

	.line-item-summary-checkout {
		padding: 0 !important;
	}

	table thead:first-child td{
		font-weight: 700;
		color: $blue;
	}

	thead th {
		padding-top: 15px;
		padding-bottom: 5px;
	}

	table tbody tr.toggle-highlight td:first-child {
		@include icon-plus($blue);

		&:after,
		&:before {
			margin-top: 3px;
		}

	}

	tbody td {
		padding-right: 10px;
		padding-left: 10px;
	}

	.basket-monthly tfoot td:first-child {
		padding: 8px 0 8px 10px;
	}

	.basket-monthly tfoot td.alignRight {
		padding: 8px 10px 8px 0;
	}

}

// SO page
.view-display-id-sim_only_cart_block {
	padding-bottom: 0;
}

.view-display-id-sim_only_cart_block tfoot tr {
	color: $normalgray;
	background-color: $lightestgray;

	td {
		font-size: 16px;
		font-weight: bold;
		padding: 9px 5px;
	}

	td:first-child {
		padding-right: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.alignRight {
		padding-left: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

}


// Checkout pages
.block--tmobile-blocks-checkout-page-cart {
	.block__title {
		background-color: $blue;
    background-image: url(../images/shoppingcart04.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.25em;
    padding: 9px 15px;
    padding-left: 45px;
	}
	.cart-contents {
		padding: 15px 0;
		border-right: 1px solid $lightergray;
		border-left: 1px solid $lightergray;
	}
}
