.pane-tmobile-user-invoice-overview {
  
  .pane-title {
    @extend %section-title;
  }

  table {
    width: 100%;
    margin: 15px 0;
  }

  th {
    background-color: white;
    color: $darkgray;
  }

  .dundle-header,
  .amount-graph {
    display: none;

    @include MQ($tab){
      display: table-cell;
    }

  }

  .within {
    background: $blue;
    color: white;
    display: inline-block;
    line-height: 16px;
    padding: 0 8px;
    margin-left: 8px;
  }

  .outside {
    background: #a2e3f9;
    color: white;
    display: inline-block;
    line-height: 16px;
    padding: 0 8px;
  }

  .basic_amount  {
    height: 20px;
    float: left;
    margin-right: 10px;
    width: 100%;
      
    .foreground {
      background: $blue;
      height: 20px;
    }

  }

  .exceeded_amount {
    height: 20px;

    .foreground{
      background: #a2e3f9;
      height: 20px;
    }
  }

  td {
    padding: 5px;
    border-bottom: 1px solid $lightergray;
  }

  .Paid {
    position: relative;
    padding-left: 22px;

    &:before {
      position: absolute;
      top: 11px;
      left: 5px;
      display: block;
      width: 15px;
      height: 3px;
      content: '';
      transform: rotate(-45deg);
      background-color: $blue;
    }

    &:after {
      position: absolute;
      top: 12px;
      left: 2px;
      display: block;
      width: 7px;
      height: 3px;
      content: '';
      transform: rotate(45deg);
      background-color: $blue;
    }
  }

  .Unpaid {
    background: url("../images/unpaid.png") no-repeat 3px center;
    color: #ff203a;
    padding-left: 21px;
  }

  .invoice-year {
    font-weight: bold;
    padding: 20px 0 10px
  }

  ul {
    list-style: none;
    padding-left: 0;

    a {
      @extend %readmorelink;
      margin-top: 0;
    }

  }

  li {
    display: inline-block;
    
    + li {
      margin-left: 40px;
    }

  }

}