.block-filter {
  max-width: $desk;
  margin: 25px auto 0;
  position: relative;
  background-color: $grey2;

  @include MQ($tab) {

    .no-flexbox & {
      @include clearfix;
    }

    .flexbox & {
      display: flex;
    }

  }

  @include MQ($plus){
    max-width: $desk;
  }


  .block-title {
    background: white;
    font-size: 2em;
    padding: 20px;

    @include MQ($tab){

      .no-flexbox & {
        float:left;
        width: 20%;
      }

      .flexbox & {
        flex: 0 1 25%;

        display: flex; //center title vertically
        align-items: center;
      }

    }

  }

  .content {
    padding: 10px;

    @include MQ($tab){

      .no-flexbox & {
        float: right;
        width: 80%;
        padding: 20px;
      }

      .flexbox & {
        flex: 1 1 75%;
        padding: 20px;
      }
    }

  }

  .form-wrapper {
    margin-bottom: 0;
  }

  .form-element {
    margin:0;

    @include MQ($tab){
      margin-bottom: 0;
      display: inline-block;
      width: 31%;
      margin-right: 2%;
      vertical-align: top;

      &:last-of-type {
        margin-right: 0;
      }

    }

    .form-item {
      margin: 0;
    }
  }

  .selector:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  }


  .form-submit {
    min-width: auto;
    padding: 4px 20px;
    flex: 0 1 49%;
    background-color: white;
    color: $black;
    background-image: url('../images/arrow-simple-right.svg');

    @include MQ($tab){
      margin-top: 38px;
      line-height: 30px;
      min-height: 0;
      padding: 5px 30px;
      width: 100%;
    }

  }

  .form-wrapper {
    @include MQ($tab){
      display: inline-block;
      width: 69%;
      vertical-align: top;
    }
  }

  .form-actions {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

    @include MQ($tab){
      display: inline-block;
      width: 30%;
      margin-top: 0;
    }

  }

  .form-reset {
    background-color: transparent;
    background-image: none;
    text-decoration: underline;

    &:hover {
      box-shadow: none;
    }

    @include MQ($tab){
      line-height: 1;
      margin-top: 5px;
      padding-right: 0;
      text-align: right;
      font-weight: normal;
    }

  }

}
