.l-footer {
  background-color: $grey2;
  width: 100%;
  z-index: 0;

  .container {
  	padding-top: 20px;
    padding-bottom: 20px;
    @include clearfix;

    @include MQ($tab) {
      padding-top: 80px;
      padding-bottom: 30px;
    }
  }
  
}

.l-region--footer-bottom {
  text-align: center;
  padding-top: 20px;

  @include MQ($tab) { 
    text-align: left;
  }

  p {
    display: inline-block;
    font-size: 14px;   
    margin: 0;
    line-height: 1.5;

    @include MQ($tab) { 
      float: right;
    }
  }

}

@include MQ($tab) {	
	
  .footer__menu {
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
	
  	ul {
  		margin: 0;
  	}

  	li {
  		display: inline-block;
  		margin-right: 10px;
  	}
	}

}