.front .more-link {
  text-align: right;
  margin-bottom: 10px;

  a {
    @extend %readmorelink;
    font-size: 1.125em;
    font-weight: bold;
    background-position: 100% -43px;
    margin-top: 0;
  }
}


.front {

  .panels-generic-content {
    padding-top: 0;
  }

  .panel-pane {
    margin-bottom: 25px;
    max-width: 100%;  

    @include MQ($tab) {
      float: left; // Use floats instead of flexbox
      padding-right: 25px;
    }

  }

  .view-phone-queues .read_more a {
    background-color: black;

     &:hover {
      background-color: $darkgray;
    }
  }

}

@include MQ($tab) {
  // Custom class for panes without title
  .col-tab-no-title{
    margin-top: 44px;
  }
  // Custom class for panes at the end of a row
  .col-tab-last{
    padding-right: 0;
  }
  // Layout classes for tablet
  .col-tab-3{
    width: 25%;
  }
  .col-tab-4{
    width: (100%/3);
  }
  .col-tab-6{
    width: 50%
  }
  .col-tab-8{
    width: (100%/6);
  }
  .col-tab-9{
    width: 75%
  }
  .col-tab-12{
    width: 100%
  }
}

@include MQ($desk) {
  // Custom class for panes without title
  .col-desk-no-title{
    margin-top: 44px;
  }
  // Custom class for panes at the end of a row
  .col-desk-last{
    padding-right: 0;
  }
  // Layout classes for desktop
  .col-desk-3{
    width: 25%;
  }
  .col-desk-4{
    width: (100%/3);
  }
  .col-desk-6{
    width: 50%;
  }
  .col-desk-8{
    width: (100%/3*2);
  }
  .col-desk-9{
    width: 75%;
  }
  .col-desk-12{
    width: 100%;
  }
}

// Modernizr determines wether flexbox is available and adds a class to the html
.flexbox {

  @include MQ($tab) {

    .front .panel-panel {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

     // Custom class for panes without title
    .col-tab-no-title{
      margin-top: 44px;
    }
    // Custom class for panes at the end of a row
    .col-tab-last{
      padding-right: 0;
    }
    // Layout classes for tablet
    .col-tab-3{
      flex: 1 1 25%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 25%;
      }
    }
    .col-tab-4{
      flex: 1 0 (100%/3);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: (100%/3);
      }
    }
    .col-tab-6{
      flex: 1 0 50%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 50%;
      }
    }
    .col-tab-8{
      flex: 1 0 (100%/3*2);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: (100%/3*2);
      }
    }
    .col-tab-9{
      flex: 1 0 75%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 75%;
      }
    }
    .col-tab-12{
      flex: 1 1 100%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 100%;
      }
    }
  }

  // Layout classes for desktop
  @include MQ($desk) {

    // Custom class for panes without title
    .col-desk-no-title{
      margin-top: 44px;
    }
    // Custom class for panes at the end of a row
    .col-desk-last{
      padding-right: 0;
    }
    // Layout classes for desktop
    .col-desk-3{
      flex: 1 1 25%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 25%; // IE 11 adds padding to total width.
      }
    }
    .col-desk-4{
      flex: 1 1 (100%/3);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: (100%/3); // IE 11 adds padding to total width.
      }
    }
    .col-desk-6{
      flex: 1 1 50%;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 50%;
      }
    }
    .col-desk-8{
      flex: 1 1 (100%/3*2);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: (100%/3*2);
      }

    }
    .col-desk-9{
      flex: 1 1 75%;
      max-width: 75%;
    }
    .col-desk-12{
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

}
