.l-header {
	width: 100%;
	height: 42px;
	background: rgba($black,.9);
	color: white;
	position: fixed;
	z-index: 99;

	.container {

    @include MQ($desk) {
      position: relative;
      margin: 0 auto;
      max-width: $desk;
    }

	}

	.menu-is-open & {
		background-color: #555;
	}

  @include MQ($tab) {
    height: 70px;
  }

  @include MQ($desk) {
    top: 30px;

    .menu-is-open & {
      background: rgba(0,0,0,.3);
    }
  }

}

.site-name {
	float: left;
	position: relative;
	width: 144px;
	z-index: 1;
	background: url(../images/brandcolors.svg) 0 0 / auto 42px no-repeat;
	padding-left: 48px;
	overflow: hidden;

	@include MQ($tab) {
		width: 235px;
    background-size: auto 70px; 
    padding-left: 80px;
	}

	.logo {
		font-size: 0;
		width: 110px;
		height: 42px;
		background: white url(../images/cpnblogo.svg) 10px 5px/ 80px no-repeat;
		display: block;

    @include MQ($tab) {
      width: 155px;
      height: 70px;
      background-size: 135px auto; 
    }

	}
}

.shoppingcart {
	float: left;
	width: 90px;
	font-size: 11px;
	overflow: hidden;
  display: block;
  color: white;

  @include MQ($tab) {
    border-right: 1px solid rgba(255,255,255,.2);
    position: absolute;
    float: none;
    right: 90px;
    top: 0;
  }

  @include MQ($desk) {
    right: 0;
    border-right: 0;
  }

}


.shoppingcart_no {
	float: left;
	position: relative;
	width: 35px;
	height: 42px;
	font-size: 10px;
	background: url(../images/icon-cart.svg) 5px 10px / 70% no-repeat;

  @include MQ($tab) {
    height: 70px;
  }

	span {
		background-color: $green;
		border-radius: 8px;
		display: inline-block;
		padding: 1px 3px;
		position: absolute;
		top: 4px;
		right: 0px;
		font-weight: bold;

    @include MQ($tab) {
      top: 16px;
    }
	}
}

.shoppingcart_amount {
	float: left;
	width: 54px;
	height: 42px;
	line-height: 16px;
	padding: 4px 0 4px 2px;

  @include MQ($tab) {
    padding-top: 16px;
  }
}

.mobile-nav-btn {
  display: block;
  position: absolute;
  right: 0;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);

  .menu-text {
  	display: inline-block;
  	color: white;
  	font-weight: bold;
  	font-size: 1em;
  	text-transform: uppercase;
  	padding-left: 22px;
    letter-spacing: -0.03em;
  }

	.menu-icon {
		transform: translateX(0) translateY(-50%);
		transition: background-color 0.3s;
		height: 2px;
		display: inline-block;
  	position: absolute;
  	width: 18px;
  	left: 0;
  	top: 50%;
  	bottom: auto;
  	background-color: #ffffff;

		&:before,
		&:after {
			content: '';
			position: absolute;
			background-color: #ffffff;
			width: 100%;
			height: 100%;
  	  right: 0;
	    backface-visibility: hidden;
	    transition: transform .3s, top .3s, background-color 0s;
		}

		&:before {
			top: -5px;
		}

		&:after {
			top: 5px;
		}

	}

  &.active, &:focus, &:hover {
    text-decoration: none;
    color: white;
  }

  @include MQ($desk) {
    display: none;
  }

}

.is-clicked {
	.menu-icon {
		background-color: rgba(255, 255, 255, 0);

		&:before {
			top: 0;
			transform: rotate(135deg);
		}

		&:after {
			top: 0;
			transform: rotate(225deg);
		}
	}

}


.l-region--header {
	position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba($black,.9);
  z-index: 2;
  text-align: center;
  padding: 42px 0;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;

	.menu-is-open & {
		transform: translateY(0);
	}

  @include MQ($tab) {
    padding: 80px 0;
  }

	@include MQ($desk) {
		display: block;
    background: linear-gradient(to right, white 0%, white 50%,
      rgba($black,.9) 50%, rgba($black,.9));
    transform: none;
    padding: 0;
    height: auto;
    text-align: right;
    backface-visibility: initial;

    .container {
      margin: auto;
      position: relative;
      background-color: white;
      max-width: $desk;
      padding: 0;
    }
  
  }

}
