.hero {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  @include section-break;

  &:after {
    margin-top: -10px;
  }

  @include MQ($tab) {
    height: 470px;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($black, 0.8);
  }
  
}

.hero__content {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 370px;
  max-width: 320px;
  padding-bottom: 10px;

  @include MQ($tab) {
    height: 450px;
    max-width: 580px;
  }

  .hero__title {
    margin: 10px 0;
    z-index: 4;
    font-size: 28px;
    line-height: 1;
    font-family: $serif-font;
    font-weight: normal;
    color: white;
    flex: 0 1 100%;

    @include MQ($tab) {
      font-size: 42px;
    }    

    @include MQ($desk) {
      font-size: 60px;
      margin: 30px 0;
    }

  }

  p {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    flex: 0 1 100%;
  }

  .status {
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;

    @include MQ($tab){
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

  }

  .status-archived {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }

  .status-live {
    background-color: white;
    color: $black;
  }

}

.hero__buttons {
  margin-top: 10px;

  @include MQ($tab) {
    margin-top: 20px;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;

    @include MQ($tab) {
      width: auto;
      margin-right: 20px;
      margin-bottom: 0;
    }
    
  }

}

.hero--home {

  overflow: hidden;

  @include MQ($desk) {
    height: 490px;
  }

  &:before {
    background: rgba($black, 0.5);
  }

  .hero__content {
    max-width: none;
    height: 470px;

    @include MQ($desk) {
      height: 490px;
    }
  }

  .hero__title {
    position: relative;
    right: -10px;
    text-align: right;
    margin-bottom: 10px;

    @include MQ($tab) {
      font-size: 32px;
    }    

    @include MQ($desk) {
      font-size: 40px;
    }

    span {
      padding: 5px 30px 5px 10px; 
      margin-bottom: 7px;
      display: inline-block;
      position: relative;

      @include MQ($tab) {
        padding: 7px 50px 7px 20px; 
      }

      @include MQ($desk) {
        padding-right: 20px;

        &:after {
          display: block;
          content: '';
          background-color: rgba($bright-blue,.7);
          width: 1000px;
          position: absolute;
          height: 100%;
          top: 0;
          left: 100%;
        }
      }

    }

    span:nth-of-type(1){
      background-color: rgba($bright-blue,.7);
      
      &:after {
        background-color: rgba($bright-blue,.7);
      }

    }

    span:nth-of-type(2){
      background-color: rgba($pink,.7);

      &:after {
        background-color: rgba($pink,.7);
      }
      
    }

    span:nth-of-type(3){
      background-color: rgba($bright-purple,.7);

      &:after {
        background-color: rgba($bright-purple,.7);
      }
      
    }

  }

  p {
    text-align: right;

    @include MQ($tab) {
      max-width: 500px;
      margin: 0 0 0 auto;
    }

  }

}

.hero__readmore {
  text-indent: -999em;
  flex: 0 1 100%;
  bottom: 10px;
  margin-left: 2%;
  margin-top: 30px;

  @include MQ($tab) {
    text-indent: 0;
    padding-left: 30px;
    color: white;
    font-weight: normal;
    line-height: 32px;
    font-size: 16px;
  }

  span {
    @include icon-down($black);
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    width: 32px;
    height: 32px;
    border-radius: 3px 3px 0 0;

    @include MQ($desk){
      left: 0;
    }

    &:before {
      width: 12px;
      height: 3px;
      left: 13px; 
      top: 18px; 
    }

    &:after {
      width: 12px;
      height: 3px;
      left: 6px;
      top: 18px;
    }

  }

}




.hero--campaign__logo {
  display: none;

  @include MQ($tab){
    display: block;
    position: absolute;
    top: 30%;
    right: 10px;
    width: 160px;
    height: 160px;
    background-color: $white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(0.6);
    -webkit-filter: grayscale(90%);
    opacity: 0.8;
    -webkit-backface-visibility: hidden;
    transform-origin: top right;


    &:hover {
      -webkit-filter: grayscale(0);
      transform: scale(1);
    }

  }

  @include MQ($desk) {
    margin-top: 30px;
  }

}

