.newsletter {
  
  @include MQ($tab) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  @include MQ($desk) {
    display: table;
    @include clearfix;
    margin-bottom: 40px;
  }


}

.newsletter__titlebox {
  background-color: white;
  padding: 20px;

  @include MQ($tab) {
    flex: 1 1 50%;
    padding: 30px;
  }

  @include MQ($desk) {
    display: table-cell;
    width: 34%;
  }

  h3 {
    color: $bright-blue;
    font-family: $serif-font;
    font-weight: normal;
    text-align: right;
    line-height: 1.35;
    font-size: 28px;
  }

}

.newsletter__infobox {
  
  p {
    display: none;

    @include MQ($tab) {
      display: block;
    }
  }

  @include MQ($tab) {
    background-color: $grey1;
    display: block;
    flex: 1 1 50%;
    padding: 30px;
  }

  @include MQ($desk) {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    padding: 0;

    p {
      margin: 10px 30px;
    }

  }


}

.newsletter__form {
  padding: 20px;
  background-color: $grey1;
  display: flex;
  justify-content: center;

  @include MQ($tab) {
    padding: 10px 0px;  
    justify-content: flex-start;
  }

  @include MQ($desk) {
    padding: 10px 30px;  
  }

  .form-item {
    margin: 0;
  }

  .form-text {
    border: 0;
    width: 100%;
  }

  .form-submit {
    position: absolute;
    width: 27px;
    height: 27px;
    border: 0;
    background-color: $grey1;
    border-radius: 0;
    font-size: 0;
    top: 0px;
    right: 0;
  }

}

.newsletter__signup {
  @include icon-right($black);

  &:before {
    right: 11px;
    top: 6px;
    z-index: 3;
    width: 3px;
    height: 10px;
  }

  &:after {
    right: 11px;
    top: 12px;
    width: 3px;
    height: 10px;
  } 
  
}

.newsletter__socialmedia {
  background-color: $grey5;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  @include MQ($tab) {
    flex: 1 1 50%;
    padding: 30px;
    align-items: center;
  }

  @include MQ($desk) {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    padding: 10px;
  }

  .icon-button {
    margin: 0 5px;
  }
}