.section-divider {
  width: 100%;
  min-height: 10px;
  position: relative;
  @include section-break;
}

.section-divider__readmore {
  display: none;

  @include MQ($tab) {
    display: block;
    max-width: 960px;
    position: relative;
    padding-left: 60px;
    font-weight: normal;
    line-height: 32px;
    font-size: 0.875em;
    margin: auto;

    span {
      @include icon-down($black);
      position: absolute;
      bottom: 0;
      left: 10px;
      background: white;
      width: 32px;
      height: 32px;
      border-radius: 3px 3px 0 0;

      &:before {
        width: 10px;
        height: 3px;
        left: 13px;  
      }

      &:after {
        width: 10px;
        height: 3px;
        left: 5px;
      }

    }

  }

  @include MQ($desk) {
    
    span {
      left: 0;
    }
  }

}

.section-divider__tagline {
  display: none;

  @include MQ($desk){
    display: block;
    font-size: 16px;
    line-height: 1;
    color: white;
    text-align: right;
    position: relative;
    width: 100%;

    span {
      padding: 5px 30px 5px 10px; 
      margin-bottom: 3px;
      display: inline-block;
    }

    span:nth-of-type(1){
      background-color: rgba($bright-blue,.7);
    }

    span:nth-of-type(2){
      background-color: rgba($pink,.7);
    }

    span:nth-of-type(3){
      background-color: rgba($bright-purple,.7);
    }
  }
}