---
basename: accordion-box
title: Accordion box
description:
---

<h2 class="sectiontitle">Accordion box</h2>
    
  {{> accordion-box}}

<pre class="language-html"><code>{{> accordion-box}}</code></pre>