---
basename: actionbar
title: Action bar
description:
---

<h2 class="sectiontitle">Action bar</h2>
<p>The action bar is positioned at the bottom of the viewport and can have different content per page.</p> 
    
  {{> actionbar}}
