---
basename: article with-actionbar
title: Article
description:
---


<section class="section-small">
  <h2 class="section--title">Article</h2>
  <div class="field--name-body">
    <p>Articles can be used in various templates where you want you be flexible in your copy. </p>
  </div>

  {{> article }}
</section>
    
  {{> actionbar}}
