---
basename: section-ikben
title: Belstatus
description:
---

<h2 class="sectiontitle">Belstatus</h2>

<div class="panels-generic-content-top-wrapper"> 
  <div class="panels-generic-content-top">
    <div class="panel-panel panels-generic-content-top-inside"> 
      
      {{> belstatus}}

    </div>
  </div>
</div>

<pre class="language-html"><code>{{> belstatus}}</code></pre>