---
basename: action block
title: Action block
description:
---


<section class="section-small">
  <h2 class="section--title">Action block</h2>
  <div class="field--name-body">
    <p>The action block can be found at the end of overviews to encourage users to participate</p>
  </div>

  {{> block-action}}

</section>

<pre class="language-html"><code>{{> block-action}}</code></pre>
    
  