---
basename: breadcrumbs
title: Breadcrumbs
description:
---

<h2 class="sectiontitle">Breadcrumbs</h2>
<p> Breadcrumbs provide an alternative way of navigating. They are hidden on mobile.</p>
    
  {{> breadcrumbs}}

<pre class="language-html"><code>{{> breadcrumbs}}</code></pre>


