---
basename: Buttons
title: Buttons
description:
---

<section class="section-small">
  <h2 class="section--title">Buttons</h2>
  
  <div class="field--name-body">

    <h3>Default</h3>
    <br />
    <button type="button" role="button" class="button">Default button</button>

    <pre class="language-html"><code><button type="button" role="button" class="button">Default button</button></code></pre>

    <h3>Colors</h3>
    
    <p>Sections on the website have various color schemes. With that we use mathcing color buttons. Look at the templates if you do not know which color to use. In general follow these guidelines:</p>
    
    <p><button type="button" role="button" class="button button--blue">Blue button</button><br />
    For news, activities and profile sections.</p>
    
    <p><button type="button" role="button" class="button button--purple">Purple button</button><br/>Primary actions for campaigns.</p>

    <p><button type="button" role="button" class="button button--pink">Pink button</button><br />
    Secondary actions for campaigns.</p>
    </p>

    <p><button type="button" role="button" class="button button--orange">Orange button</button><br />Primary actions for e-commerce.</p>
    
    <p><button type="button" role="button" class="button button--orange-2">Orange-2 button</button><br />Secondary action for e-commerce.</p>
    
    <p><button type="button" role="button" class="button button--grey">Grey button</button><br />
     Default form submissions</p>

    <p><button type="button" role="button" class="button button--white">White button</button><br />For load more buttons on a white background</p>

    <pre class="language-html"><code><button type="button" class="button button--{color-name}">Default button</button></code></pre>

    <h3>Size</h3>
    <br />
    <button type="button" role="button" class="button button--large">Large button</button>
    <pre class="language-html"><code><button type="button" role="button" class="button button--large">Large button</button></code></pre>

    <h3>Purpose</h3>
    <br />
    <p>The add button is used to invite the [member] to contribute something to the website. It is generally an anchor element.</p>
    <a href="#0" class="button button--add button--grey">Add button<b></b></a>
    <pre class="language-html"><code><a href="#0" class="button button--add button--grey">Add button<b></b></a></code></pre>

    <p>The View button can be used on links.</p> 
    <a href="#0" class="button button--view">View button</a>
    <pre class="language-html"><code><a href="#0" class="button button--view">Add button<b></b></a></code></pre>

    <p>The Show more button can be used when you want to load more teasers.</p> 
    <a href="#0" class="button button--loadmore">Show more button</a>
    <pre class="language-html"><code><a href="#0" class="button button--loadmore">Add button<b></b></a></code></pre>

    <p>The Follow button can be used follow items. The preferred interaction is ajax. When a user clicks here either they see a notification or if the page is refreshed the button gets another state.</p> 
    <button type="button" role="button" class="button button--follow">Follow button</button>
    <button type="button" role="button" class="button button--follow button--followed">You are subscribed</button>

    <pre class="language-html"><code><a href="#0" class="button button--add button--grey">Add button<b></b></a></code></pre>

  </div>

</section>