---
basename: Buttons
title: Buttons
description:
---

<section class="row">
  <header>
    <h1 class="node__title">Buttons</h1>
  </header>

  <h2 class="sectiontitle">Standaard</h2>
  <p>De standaard button ziet er als volgt uit. Deze button heeft altijd het witte driehoek icoon. De button wordt gebruikt als &#8216;lees meer&#8217; knop, als formulier submit knop en als vernieuw knop. </p>
    {{> default-button}}
  <pre class="language-html"><code>{{> default-button}}</code></pre>

  <h2 class="sectiontitle">Call to action</h2>
  <p>De call to action knop geeft extra aandacht aan een bepaalde actie. We zien deze bijvoorbeeld als bestelknop en voor speciale aanbiedingen. Het enige dat verandert is de achtergrondkleur.</p>
    {{> cta-button}}
  <pre class="language-html"><code>{{> cta-button}}</code></pre>

  <h2 class="sectiontitle">Blauw</h2>
  <p> De blauwe button kan worden gebruik als de sectie een achtergrondafbeelding heeft. Vooralsnog zien we deze knop alleen nog maar op de homepage.</p>
    {{> blue-button}}
  <pre class="language-html"><code>{{> blue-button}}</code></pre>

    <h2 class="sectiontitle">Button Large</h2>
  <p> Op sommige plekken hebben we iets grotere buttons, zoals bij product teasers. We vergroten hier het font en het icoon.</p>
    {{> default-button-large}}
  <pre class="language-html"><code>{{> default-button-large}}</code></pre>

</section>