---
basename: colors with-hero
colors: Of course ;)
title: Colors
template: true
description:
---
<section class="hero" style="background-image: url(/example/hero-example.jpg);">

  <div class="container">

    <div class="hero__content">
      <h1 class="hero__title">
        <span>Colorguide</span><br />
        <span>for</span><br />
        <span>CPNB</span>
      </h1>

      <b class="hero__readmore"> <span> </span> Click on any color swatch to retrieve it's hex value.</b>

    </div>

  </div>

</section>

<section class="section-default" id="colors">
  {{> swatches}}
</section>