---
basename: filter
title: Filter
description:
---


<section class="section-small">
  <h2 class="section--title">Filter</h2>
  <div class="field--name-body">
    <p>The filter block can be found at the top of overviews (teasers), and can be used to filter the content. Each section or content type can have a filter, with maximum of 3 select elements. The color of the block is related to the content type. For example news and activities are blue and campaigns are purple.</p> 
  </div>

  {{> block-filter}}

</section>
    

