---
basename: footermenu
title: Footer menu
description:
---

<h2 class="sectiontitle">Footer menu</h2>
    
    <footer class="l-footer">
      <div class="footer-top"> 
        {{> footermenu}}
      </div>
    </footer>

 <pre class="language-html"><code>{{> footermenu}}</code></pre>

