---
basename: footer
title: Footer
description:
---


<section class="section-small">
  <h2 class="section--title">Footer</h2>
  <div class="field--name-body">
    <p>The footer holds the footer menu. The <a href="newsletter.html">newsletter organism</a> is included in the footer region but is a different element. You see the footer at the end of this page.</p>
  </div>

</section>

<pre class="language-html"><code>{{> footer}}</code></pre>

