---
basename: forms
title: Forms
description:
---


<section class="section-small">
  <h2 class="section--title">Default form</h2>
  <div class="field--name-body">
    <p>Het standaard formulier vinden we terug in de selfcare en in het checkout proces. Het bestaat uit de form-item moleculen. De belangrijkste kermerken zijn:</p>
    <ul>
      <li>Labels staan op mobiel boven de input, op tablet (191px breed) en dektop(291px breed) er voor.</li>
      <li>Extra uitleg staat er in een kleiner font onder.</li>
      <li>Radio buttons en checkboxes zijn subtiel opgemaakt.</li>
      <li>Buttons kunnen zwart of groen zijn, afhankelijk of het formulier een commerciele doelstelling heeft</li> 

    </ul>   
  </div>

  {{> basic-form}}

    <pre class="language-html"><code>{{> basic-form}}</code></pre>
</section>

