---
basename: form items
title: Form items
---

  <section class="section-small">
    <h2 class="section-title">Form item text</h2>
    {{> form-item-text}}
    <pre class="language-html"><code>{{> form-item-text}}</code></pre>
  </section>

  <section class="section-small">
    <h2 class="section-title">Form item radio</h2>
    {{> form-item-radio}}
    <pre class="language-html"><code>{{> form-item-radio}}</code></pre>
  </section>

  <section class="section-small">
    <h2 class="section-title">Form item checkbox</h2>
    {{> form-item-checkbox}}
    <pre class="language-html"><code>{{> form-item-checkbox}}</code></pre>
  </section>

  <section class="section-small">
    <h2 class="section-title">Form item select</h2>
    {{> form-item-select}}
    <pre class="language-html"><code>{{> form-item-select}}</code></pre>
  </section>

