---
basename: form elements
title: Form elementen
description:
---

<div class="container">
  <section class="row">
    <h2 class="sectiontitle">Labels</h2>
    {{> form-label}}
    <pre class="language-html"><code>{{> form-label}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Text input</h2>
    {{> text-input}}
    <pre class="language-html"><code>{{> text-input}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Text area</h2>
    {{> textarea}}
    <pre class="language-html"><code>{{> textarea}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Radio input</h2>
    {{> radio-input}}
    <pre class="language-html"><code>{{> radio-input}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Checkbox input</h2>
    {{> checkbox-input}}
    <pre class="language-html"><code>{{> checkbox-input}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Select</h2>
    {{> select-input}}
    <pre class="language-html"><code>{{> select-input}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Submit input</h2>
    {{> submit-button}}
    <pre class="language-html"><code>{{> submit-button}}</code></pre>
  </section>
</div>