---
basename: form elements
title: Form elementen
description:
---

<section class="section-small">
    <h2 class="section--title">Labels</h2>
    <div class="form-item">
      {{> form-label}}
    </div>
    <pre class="language-html"><code>{{> form-label}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Text input</h2>
     <div class="form-item">
      {{> text-input}}
    </div>
    <pre class="language-html"><code>{{> text-input}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Text area</h2>
    <div class="form-item">
      {{> textarea}}
    </div>
    <pre class="language-html"><code>{{> textarea}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Radio input</h2>
    <div class="form-item">
      {{> radio-input}}
    </div>
    <pre class="language-html"><code>{{> radio-input}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Checkbox input</h2>
    <div class="form-item">
      {{> checkbox-input}}
    </div>
    <pre class="language-html"><code>{{> checkbox-input}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Select</h2>
     <div class="form-item">
      {{> select-input}}
    </div>
    <pre class="language-html"><code>{{> select-input}}</code></pre>
</section>

<section class="section-small">
    <h2 class="section--title">Submit input</h2>
    <div class="form-item">
      {{> submit-button}}
    </div>
    <pre class="language-html"><code>{{> submit-button}}</code></pre>
</section>
