---
basename: form items
title: Form items
description:
---

<div class="container">
  <section class="row">
    <h2 class="sectiontitle">Form item text</h2>
    {{> form-item-text}}
    <pre class="language-html"><code>{{> form-item-text}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Form item radio</h2>
    {{> form-item-radio}}
    <pre class="language-html"><code>{{> form-item-radio}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Form item checkbox</h2>
    {{> form-item-checkbox}}
    <pre class="language-html"><code>{{> form-item-checkbox}}</code></pre>
  </section>

  <section class="row">
    <h2 class="sectiontitle">Form item select</h2>
    {{> form-item-select}}
    <pre class="language-html"><code>{{> form-item-select}}</code></pre>
  </section>

</div>