---
basename: header
title: Header
description:
---

<h2 class="sectiontitle">Header</h2>

<p> De header is hierboven te zien. Deze bestaat uit de navigatie, het logo, het zoekblok en het loginblok.</p>

<pre class="language-html"><code>{{> header}}</code></pre>

