---
basename: hero-node
title: Hero
description:
---

<h2 class="sectiontitle">Hero homepage</h2>
    
  {{> hero}}

<pre class="language-html"><code>{{> hero}}</code></pre>

<h2 class="sectiontitle">Hero campaign</h2>
    
  {{> hero-campaign}}

<pre class="language-html"><code>{{> hero-campaign}}</code></pre>