---
basename: Iconen
title: Iconen
description:
---

<section class="row">

  <h2 class="sectiontitle">Iconen</h2>

  <p> We proberen het aantal iconen dat gebruikt wordt op de website te beperken, zodat er geen wildgroei ontstaat. De volgende iconen zijn in als mixins te gebruiken in CSS selectors. Hiermee heb je de vrijheid het icon een andere kleur te geven, hem te laten animeren of de grootte aan te passen, terwijl de vorm hetzelfde blijft. In het code voorbeeld zie je hoe je de mixin ophaalt in de CSS selector.</p>

    <div class="icon-plus"> Plus icon voorbeeld</div>
    <br />
    <div class="icon-next"> Next icon voorbeeld</div>
    <br />
    <div class="icon-down"> Down icon voorbeeld</div>
    <br />
    <div class="icon-up"> Up icon voorbeeld</div><br />
    <div class="icon-right"> Right icon voorbeeld</div>
    <br />
    <div class="icon-check"> Check icon voorbeeld</div>
  <pre class="language-css"><code>
    @include icon-plus($color);
  </code></pre>