---
basename: index
title: Home
description:
---

<section class="row container">
  <h2 class="sectiontitle">CPNB Styleguide</h2>
  <p>A style guide is a set of standards to ensure a consistent design and identity. Additionally, from a development point of view it serves to improve the speed and ease of code deployment. A good style guide will consolidate the front-end code while comprehensively documenting the visual language, such as color palettes and fonts.
  </p>
  <p>The goals for creating this style guide are:</p>
  <ol>
    <li>Streamline the workflow for designers and developers</li>
    <li>Maintain a consistency of styles and identity</li>
    <li>Create a focal point for our design and user experience work, both for designers, developers and the client</li>
  </ol>

  <p>This style guide is based largely on the principles of atomic design. The key idea of this methodology is that small, independent - atomic - parts, can be combined into larger molecular structures. Molecular structures can be combined into larger organisms, which can then serve as the foundation for templates and full pages.</p>
</section>

<section class="row field--name-body">
    <h2 class="sectiontitle">Atoms</h2>
  <img src="example/icon-atom.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>In chemistry, atoms are the basic building blocks of matter. They have distinct properties and can’t be broken down further without losing their meaning.Translated to interfaces, <strong>atoms are basic tags</strong>, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations.</p>
  <p>Atoms are abstract and aren’t often terribly useful on their own, but they provide a useful reference and allow you to see all your global styles laid out at a glance.</p>
</section>

<section class="row field--name-body">
  <h2 class="sectiontitle">Molecules</h2>
  <img src="example/icon-molecule.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>In chemistry, molecules are groups of atoms bonded together, which take on new properties as a result.</p>
<p>In interfaces, molecules are groups of elements that function together as a unit. For example, a form label, search input, and button atom can combine them together to form a search form molecule.</p>
<p>Building up from atoms to molecules encourages a &#8216;do one thing and do it well&#8217; mentality, and encourages creating reusable interface patterns.</p>
</section>

<section class="row field--name-body">
  <h2 class="sectiontitle">Organisms</h2>
  <img src="example/icon-organism.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>Organisms are <strong>groups of molecules (and possibly atoms) joined together to form distinct section of an interface.</strong></p>
<p>Organisms can consist of similar and/or disparate molecule types. For example, a masthead organism might consist of a logo, navigation, and search form, while a &#8216;product grid&#8217; organism might consist of the same product info molecule repeated over and over.</p>
<p>Building up from molecules to organisms encourages creating standalone, portable, reusable components.</p>
</section>