---
basename: index
title: Index
description:
---
<section class="row field--name-body">
  <h2 class="sectiontitle">Ben style guide</h2>
  <p>Een style guide is een verzameling van standaarden die we gebruiken het om de front-end code modulair te houden en de visuele consistentie van de website te bewaken. Tevens zorgt het, vanuit oogpunt van development, voor snellere en gemakkelijker ontwikkeling en deployment.
  </p>
  <p>De doelen van deze styleguide zijn simpel:</p>
  <ol>
    <li>Het stroomlijnen van de workflow voor designers en developers</li>
    <li>Het bewaken van consistentie van de stijlen en identiteit van Ben.</li>
    <li>Een centrale plek (bibliotheek) voor documentatie van design en interactie voor designers, developers en andere teamleden.</li>
  </ol>

  <p>Deze styleguide is gebaseerd op het principe van Atomic design. Het idee hierbij is door kleine onafhankelijke (&#8216;atomische&#8217;) onderdelen te combineren tot grotere moleculaire structuren leiden. De moleculen groeien op hun beurt door het combineren weer tot organismen. Organismen zijn de fundatie voor templates en volledige pagina&#8217;s.</p>
  <p>Hieronder wordt Atomic design verder uitgelegd.</p>
</section>


<section class="row field--name-body">
    <h2 class="sectiontitle">Atoms</h2>
  <img src="example/icon-atom.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>In chemistry, atoms are the basic building blocks of matter. They have distinct properties and can’t be broken down further without losing their meaning.Translated to interfaces, <strong>atoms are basic tags</strong>, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations.</p>
  <p>Atoms are abstract and aren’t often terribly useful on their own, but they provide a useful reference and allow you to see all your global styles laid out at a glance.</p>
</section>

<section class="row field--name-body">
  <h2 class="sectiontitle">Molecules</h2>
  <img src="example/icon-molecule.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>In chemistry, molecules are groups of atoms bonded together, which take on new properties as a result.</p>
<p>In interfaces, molecules are groups of elements that function together as a unit. For example, a form label, search input, and button atom can combine them together to form a search form molecule.</p>
<p>Building up from atoms to molecules encourages a &#8216;do one thing and do it well&#8217; mentality, and encourages creating reusable interface patterns.</p>
</section>

<section class="row field--name-body">
  <h2 class="sectiontitle">Organisms</h2>
  <img src="example/icon-organism.svg" align="atom" style="float:left; margin-right: 25px;">
  <p>Organisms are <strong>groups of molecules (and possibly atoms) joined together to form distinct section of an interface.</strong></p>
<p>Organisms can consist of similar and/or disparate molecule types. For example, a masthead organism might consist of a logo, navigation, and search form, while a &#8216;product grid&#8217; organism might consist of the same product info molecule repeated over and over.</p>
<p>Building up from molecules to organisms encourages creating standalone, portable, reusable components.</p>
</section>