---
basename: kruimelpad
title: Kruimelpad
description:
---

<h2 class="sectiontitle">Kruimelpad</h2>
<p> Het kruimelpad is terug te vinden op de product detail page, in de klantenservice en binnen de selfcare. De huidige pagina (waar men zich bevindt) wordt aangeduid met een bold stijl. Links in het kruimelpad zijn blauw en items zonder link krijgen geen extra stijl.</p>
    
  {{> kruimelpad}}

<pre class="language-html"><code>{{> kruimelpad}}</code></pre>


