---
basename: labels
title: Labels
description:
---

<h2 class="sectiontitle">Prijslabel</h2>
<p> Het prijslabel zien we terug in product teasers.</p>
    
  {{> price-label}}

<pre class="language-html"><code>{{> price-label}}</code></pre>


<h2 class="sectiontitle">Promotie label</h2>
<p> Het promotielabel zien we terug in product teasers. Hierbij kan gekozen worden uit de kleuren Groen, blauw, oranje, zwart en wit. De content manager kan deze kleur kiezen in het CMS.</p>
<div class="view-phone-catalog">
  {{> promotie-label}}
  {{> promotie-label-2}}
  {{> promotie-label-3}}
</div>

<pre class="language-html"><code>{{> promotie-label}} {{> promotie-label-2}} {{> promotie-label-3}}</code></pre>