---
basename:
title: List box
description:
---

<h2 class="sectiontitle">List box</h2>
<p> Het list-box molecule wordt vaak gebruikt op de website. We zien deze terug als keuzemenu&#8217;s in de klantenservice en als navigatie in de IkBen sectie. Er zijn twee variaties van de list-box. De eerste heeft een icon, die de content manager kan instellen. De tweede variant heeft geen icoon. </p>
    
  {{> list-box-plain}}

<pre class="language-html"><code>{{> list-box-plain}}</code></pre>

  {{> list-box-icon}}

<pre class="language-html"><code>{{> list-box-icon}}</code></pre>

