---
basename: meldingen
title: Meldingen
description:
---

<h2 class="sectiontitle">Informatieve melding</h2>
<p>Een voorbeeld hiervoor zien we tijdens de checkout van een bestelling.</p>
<div class="page-checkout">    
  {{> information-notice}}
</div>
<pre class="language-html"><code>{{> information-notice}}</code></pre>
