---
basename: newsletter
title: Newsletter
description:
---

<h2 class="sectiontitle">Newsletter</h2>
<p>The newsletter organism can be found in the footer region of all templates. Visitors can subscribe to the newsletter of CPNB via this form.</p> 
    
  {{> newsletter}}

<pre class="language-html"><code>{{> newsletter}}</code></pre>