---
basename: page-telefoon
title: Product teaser
description:
---

<h2 class="sectiontitle">Product teaser</h2>
<p> De product teaser vinden we op de telefoons pagina en homepagina. Het bestaat uit verschillende atomen, zoals de colorpicker, prijslabel, voordeelopsomming en standaard button.
</p>
<section class="product-teaser__wrapper">  
  {{> product-teaser}}
  {{> product-teaser}}
  {{> product-teaser}}
</section>

<pre class="language-html"><code>{{> product-teaser}}</code></pre>