---
basename: 
title: Product infobox
description:
---

<h2 class="sectiontitle">Product infobox</h2>
<p> De product infobox vinden we op de Product detail page. De functie van deze box is meer informatie over het product te geven. Er is altijd een icoon aanwezig (content manager upload deze) en een ‘terug naar boven’ knop. De inhoud in de box staat los van dit molecuul. Hiermee bedoelen we dat er geen stijling op basis van dit molecuul wordt doorgeven aan de node die in de box wordt ingeladen.</p> 
    
  {{> product-infobox}}

<pre class="language-html"><code>{{> product-infobox}}</code></pre>

