---
basename: afbeeldingpromotie
title: Promotie afbeelding
description:
---

<h2 class="sectiontitle">Promotie afbeelding</h2>
<p> De promotie afbeelding heeft als enige een blauwe button. De breedte wordt met de layout bepaald. Dit hoort niet bij het molecuul.</p>
<div class="col-tab-3 col-desk-3">  
  {{> afbeeldingpromotie}}
</div>
<pre class="language-html"><code>{{> afbeeldingpromotie}}</code></pre>