---
basename: secondary-box
title: Secondary box
description:
---

<h2 class="sectiontitle">Secondary box</h2>
    
  {{> secondary-box}}

<pre class="language-html"><code>{{> secondary-box}}</code></pre>