---
basename: divider-organism
title: Section divider
description:
---

<h2 class="sectiontitle">Section divider</h2>
    
  {{> section-divider}}

<pre class="language-html"><code>{{> section-divider}}</code></pre>

