---
basename: divider-organism
title: Section divider
description:
---

<h2 class="sectiontitle">Section divider</h2>
    
  {{> section-divider divider.divider-a}}

<pre class="language-html"><code>{{> section-divider divider.divider-a}}</code></pre>

