---
basename: divider-organism
title: Section divider
description:
---

<h2 class="sectiontitle">Section divider</h2>
<p>The section divider will be placed in between section to create a visual separation of sections. Each separator can have unique text that tells the visitor something about the section below.</p>
    
  {{> section-divider divider.divider-a}}

<pre class="language-html"><code>{{> section-divider divider.divider-a}}</code></pre>

<h2 class="sectiontitle">Section divider plain</h2>
<p>In the plain version of the divider the text and arrow are not shown. </p>
  {{> section-divider-plain}}

<pre class="language-html"><code>{{> section-divider-plain}}</code></pre>

