---
basename: divider-organism
title: Section divider
description:
---

<section class="section-small">
  <h2 class="section--title">Section divider</h2>
  <div class="field--name-body">
    
    <p>The section divider will be placed in between section to create a visual separation of sections. Each separator can have unique text that tells the visitor something about the section below.</p>
    
  </div>

</section>

  {{> section-divider divider.divider-a}}

<pre class="language-html"><code>{{> section-divider divider.divider-a}}</code></pre>

<section class="section-small">
  <h2 class="section--title">Section divider plain</h2>
  <div class="field--name-body">
    <p>In the plain version of the divider the text and arrow are not shown. </p>

  </div>

</section>

  {{> section-divider-plain}}

<pre class="language-html"><code>{{> section-divider-plain}}</code></pre>

