---
basename: tabel
title: Tabel
description:
---

<h2 class="sectiontitle">Tabel</h2>
<p>Hier zie je een voorbeeld van de styling van een standaard tabel. De tabelkop is wit op een blauwe achtergrond. De kolommen krijgen geen breedte, zodat de browser de tabel kan schalen.</p>

<div class="panels-generic-content-inside">
  {{> tabel}}
</div>
<pre class="language-html"><code>{{> tabel}}</code></pre>