---
basename: teaser-insight
title: Insight teaser
description:
---

<h2 class="sectiontitle">Insight teaser</h2>
<p> The insight teasers show an intro of an insight article. It contains the published date, title and a read more button.</p>
<section class="insight-teaser-wrapper">  
  {{> teaser-insight}}
</section>

<pre class="language-html"><code>{{> teaser-insight}}</code></pre>