---
basename: teaser-campaign
title: Campaign teaser
description:
---


<h2 class="sectiontitle">Campaign teaser</h2>
<p> The campaign teasers show a summary of a (running) campaign. It contains the campaign logo, image, period, title, summary and a read more button.</p>
<section class="teaser-campaign--wrapper">  
  {{> teaser-campaign}}
</section>

<pre class="language-html"><code>{{> teaser-campaign}}</code></pre>