---
basename: teaser-event
title: Event teaser
description:
---

<h2 class="sectiontitle">Event teaser</h2>
<p> The event teasers show an intro of an event article. It contains a thumbnail image, event date & location, title and a read more button. </p>
<section class="event-teaser-wrapper">  
  {{> teaser-event}}
</section>

<pre class="language-html"><code>{{> teaser-event}}</code></pre>