---
basename: teaser-document
title: Document teaser
description:
---

<section class="section-small">
  <h2 class="section--title">Document teaser</h2>
  <div class="field--name-body">
    <p> The document teasers show an downloadable asset, such as an pdf of word document. It contains the title, file type and file size. The whole element acts as a link.</p>
  </div>

</section>


<section class="section-small">
  <div class="teaser-document--wrapper">  
    {{> teaser-document}}
  </div>
</section>

<pre class="language-html"><code>{{> teaser-document}}</code></pre>