---
basename: teaser-event
title: Event teaser
description:
---


<section class="section-small">
  <h2 class="section--title">Event teaser</h2>
  <div class="field--name-body">
    <p> The event teasers show an intro of an event article. It contains a thumbnail image, event date & location, title and a read more button. </p>
  </div>

</section>

<section class="section-small">
  <div class="teaser-event--wrapper">  
    {{> teaser-event}}
  </div>
</section>

<pre class="language-html"><code>{{> teaser-event}}</code></pre>