---
basename: teaser-social-media
title: Social media teaser
description:
---

<h2 class="sectiontitle">Social media teaser</h2>
<p> The social media teasers contain the latest post from a specific channel. In this example we see two different channels. In the code you will see a single teaser source.</p>
<section class="teaser-social--wrapper">  
  {{> teaser-social--twitter}}
  {{> teaser-social--facebook}}
</section>

<pre class="language-html"><code>{{> teaser-social--twitter}}</code></pre>

