---
basename: teaser-news
title: News teaser
description:
---

<h2 class="sectiontitle">News teaser</h2>
<p> The news teasers show an intro of a news article. It contains a thumbnail image, published date, title and a read more button. </p>
<section class="teaser-news--wrapper">  
  {{> teaser-news}}
</section>

<pre class="language-html"><code>{{> teaser-news}}</code></pre>