---
basename: campaign-lu with-hero with-actionbar
template: true
title: Campaign Logged-in user
description:
---
{{> breadcrumbs}}

{{> hero-campaign}}


<section class="section-default">
    <div class="block-campaigndata">
      <div class="campaigndata__item">
        <label>Thema</label>
        <div>Kinderen, Onderwijs</div>
      </div> 

      <div class="campaigndata__item">
        <label>Website campagne</label>
        <a href="#0">kinderboekenweek.nl</a>
      </div> 

      <div class="campaigndata__item">
        <label class="element-invisible">Social media</label>
        <a href="#0" class="icon-button icon-black icon-twitter">Twitter</a>
        <a href="#0" class="icon-button icon-black icon-facebook">Facebook</a>
        <a href="#0" class="icon-button icon-black icon-flickr">Flickr</a>
        <a href="#0" class="icon-button icon-black icon-youtube">Youtube</a>
        <a href="#0" class="icon-button icon-black icon-linkedin">Linkedin</a>
      </div> 

    </div>

    <div class="block-campaigndata">
      <div class="campaigndata__item">
        <label>Campagne resultaten 2014</label>
        <h4>255.321</h4>
        <small>boekenverkoop resultaat 2014</small>
      </div> 

      <div class="campaigndata__item">
        <h4>550.755</h4>
        <small>Bezoekers in 2014</small>
      </div> 

      <div class="campaigndata__item">
        <h4>3.755</h4>
        <small>Lokale evenementen in 2014</small>
      </div> 

    </div>

    <div class="block-campaignreasons">
      <label>3 redenen om mee te doen</label>
      <ol class="campaignreasons">
        <li class="campaignreason">Al 61 jaar een groot succes in heel Nederland.</li> 
        <li class="campaignreason">Veel interactief POS materiaal beschikbaar.</li> 
        <li class="campaignreason">Vluchten. Een thema waar je wel wat mee moet doen.</li> 
      </ol>
    </div>

    <div class="block-campaigndata">
      <div class="campaigndata__item campaigndata__item--full">
        <label>Testimonial</label>
        <div><q>Als er een campagne is waar ik en deel van uit wil maken dan is het deze wel. Mooi om te zien hoe we zoveel kinderen met enthousiasme aan het lezen krijgen!</q></div>
        <small>Peter Boerichter | Basisschool Beatrix Linde | Amsterdam</small>
      </div> 

  </div>

</section>

{{> section-divider-plain}}

<section class="section-default">

  <div class="block-campaignmaterial">
    <label>Campagne materialen</label>
    <div class="campaignmaterial__buttons">
      <a href="#0" class="button button--purple">Bekijk materialen</a>
      <a href="#0" class="button button--pink">Bestel het pakket | &euro; 1200,-</a>
    </div>
  </div>

  <div class="block-campaigntopics">
    <label>Vakinformatie</label>
    <ul class="campaigntopics__list">
      <li><a href="#0" class="campaigntopics__item">Materialen bestellen</a></li>
      <li><a href="#0" class="campaigntopics__item">Boekenweekgeschenk</a></li>
      <li><a href="#0" class="campaigntopics__item">Boekenweekessay</a></li>
      <li><a href="#0" class="campaigntopics__item">Boekenweekmagazine</a></li>
      <li><a href="#0" class="campaigntopics__item">Gratis reizen met NS</a></li>
      <li><a href="#0" class="campaigntopics__item">Tournee met Duitse auteurs</a></li>
      <li><a href="#0" class="campaigntopics__item">Beeldmateriaal</a></li>
      <li><a href="#0" class="campaigntopics__item">Nieuwsbrieven</a></li>
      <li><a href="#0" class="campaigntopics__item">Boekenweek Vice Versa</a></li>
      <li><a href="#0" class="campaigntopics__item">Boekenbal voor lezers</a></li>
    </ul>
  </div>

  <article class="view-mode-full node--campaign-body">
    
    <label>Over de campagne</label>
  
    <p class="lead">De Kinderboekenweek wordt elk jaar in oktober gehouden. Tijdens het tien dagen durende evenement zijn er in het hele land allerlei activiteiten rond het kinderboek. Op grote schaal haken bibliotheken, het onderwijs, boekhandels en culturele centra hierop in. Het jaarlijks wisselende thema van de Kinderboekenweek dient als leidraad bij de organisatie van de vele activiteiten.</p>

    <p>In 1954 organiseerde de CPNB de eerste Kinderboekenweek.</p>
 
    <p>Sed tempus turpis nec rhoncus consectetur. In ac erat quis sem placerat dapibus. Donec eget ullamcorper leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu mi vulputate, dapibus velit sed, mollis lacus. Curabitur vel ex eu arcu molestie vulputate gravida ut nisi. Nam orci ligula, lobortis vitae augue ut, ultrices rhoncus lorem. Cras id ultrices arcu, fringilla tristique odio. Curabitur et diam cursus ante luctus imperdiet. Sed eget magna dictum, condimentum nulla ut, fringilla eros. Morbi in ante metus. Etiam molestie ante sit amet diam bibendum commodo. Sed vitae erat iaculis, auctor nisl eu, vestibulum erat. Phasellus nec orci felis. Mauris mi erat, pretium in metus vel, tincidunt pharetra mi.</p>
 
    <p>In sit amet risus ornare, semper libero eget, lobortis dolor. Ut ut sapien et sapien mattis iaculis consectetur vitae ligula. Aliquam erat volutpat. Nunc mollis magna nisl, ac commodo urna elementum et. Phasellus in elit justo. Suspendisse ultricies ipsum metus, sit amet commodo tortor auctor tincidunt. Phasellus ornare nulla mi, eu molestie nunc auctor id.</p>
 
    <p>Cras dignissim nisl eget dignissim egestas. Morbi elementum vehicula erat, sit amet blandit sapien tristique semper. Curabitur semper, risus vitae facilisis sagittis, arcu neque interdum urna, nec venenatis odio risus in quam. Nullam aliquet iaculis nunc et scelerisque. Proin dapibus mi lacinia dictum faucibus. Fusce malesuada elit quis sem congue, quis tempus velit viverra.</p>

  </article>

  <div class="block-campaign-publications">
    
    <label>Uitgaven</label>

    <div class="campaign-publications">
      <div class="campaign-publications__text">
        <p>In sit amet risus ornare, semper libero eget, lobortis dolor. Ut ut sapien et sapien mattis iaculis consectetur vitae ligula. Aliquam erat volutpat.</p>
      </div>

      <div class="campaign-publications__button">
        <a href="#0">Bekijk de uitgaven voor deze campagne</a>
      </div>
    </div>

  </div>

</section>

{{> section-divider-plain}}

<section class="section-default">  
  <h3 class="section--title">Wie deden er mee?</h3>
  
  <div class="teaser-home--wrapper">
    <div class="teaser-intro teaser-intro--participant">
      <h2 class="teaser-intro__title">Bekijk hier een overzicht van de vorige <span>deelnemers</span></h2>
    </div>
    {{> teaser-partner}}
    {{> teaser-partner}}
  </div>

  <a href="#0" class="section-readmore">Bekijk alle deelnemers</a>

</section>

{{> section-divider-plain}}

<section class="section-default">  
  <h3 class="section--title">Documenten</h3>
  
  <div class="teaser-home--wrapper">
    <div class="teaser-intro teaser-intro--document">
      <h2 class="teaser-intro__title">Download pdf versies van alle <span>documenten</span></h2>
    </div>
    {{> teaser-document}}
    {{> teaser-document}}
  </div>

</section>

{{> section-divider-plain}}

<section class="section-default">

  <div class="block-campaign-publications">
    
    <label>Media</label>

    <div class="campaign-publications">
      <div class="campaign-publications__text">
        <p>Contactpersoon</p>
        <h4>Tony Adams</h4>
        <p>t.adams@provider.com<br />
        tel. 06 22 33 44 55</p>
      </div>

      <div class="campaign-publications__button">
        <a href="#0">Persinformatie voor deze campagne</a>
      </div>
    </div>

  </div>

</section>

{{> section-divider-plain}}

<section class="section-default">

<h3 class="section--title">Campagne nieuws</h3>
  
  <div class="teaser-news--wrapper">
    {{> teaser-news}}
    {{> teaser-news}}
    {{> teaser-news}}
  </div>

  <a href="#0" class="section-readmore">Bekijk al het nieuws</a>

</section>

{{> section-divider-plain}}

<section class="section-default">

<h3 class="section--title">Campagne evenementen</h3>
  
  <div class="teaser-event--wrapper">
    {{> teaser-event}}
    {{> teaser-event}}
    {{> teaser-event}}
  </div>
  <div class="align-right"><a href="#0" class="button button--grey button--add">Registreer jouw evenement<b></b></a></div>
  <a href="#0" class="section-readmore">Bekijk alle evenementen</a>

</section>

{{> section-divider-plain}}

<section class="section-default">  
  <h3 class="section--title">Onze campagnes</h3>
  
  <div class="teaser-home--wrapper">
    <div class="teaser-intro teaser-intro--campaign">
      <h2 class="teaser-intro__title">Doe ook mee met onze <span>succesvolle campagnes</span></h2>
    </div>
    {{> teaser-campaign}}
    {{> teaser-campaign}}
  </div>

</section>

<section class="section-default">  
  <h3 class="section--title">Relevante campagnes</h3>
  
  <div class="teaser-home--wrapper teaser-relevant-campaign--wrapper">
    <div class="teaser-intro teaser-intro--relevant-campaign">
      <h2 class="teaser-intro__title">Doe ook mee met onze <span>succesvolle campagnes</span></h2>
    </div>
    {{> teaser-campaign}}
    {{> teaser-campaign}}
  </div>

</section>

{{> section-divider-plain}}

<div class="action-bar action-bar--campaign">

  <div class="container">

    <div class="action-bar--content">
      
      <div class="campagne-buttons">
        <a href="#0" class="button button--purple button--view">Bekijk materialen</a>
        <button class="button button--pink button--follow">Volg campagne</button>
      </div>

      <div class="share-page">
        <label class="share-page__label">Deel deze pagina</label>
        <a href="#0" class="icon-button icon-share icon-mail">Twitter</a>
        <a href="#0" class="icon-button icon-share icon-facebook">Facebook</a>
        <a href="#0" class="icon-button icon-share icon-twitter">Twitter</a>
        <a href="#0" class="icon-button icon-share icon-linkedin">Linkedin</a>
        <a href="#0" class="icon-button icon-share icon-whatsapp">Whatsapp</a>
      </div>

    </div>

    <div class="action-bar--buttons">
      <button class="button button--grey button-more" data-closetext="Sluiten">Meer</button>
      <a href="#0" class="button button--white button--view">Terug naar <br />campagneoverzicht</a>
    </div>

  </div>

</div>