---
basename: Typografie
title: Typografie
description:
---

<!-- #Typography -->
<section class="row">

  <h2 class="sectiontitle">Fonts</h2>
  <div class="atomic-type">{{> type}}</div>
</section>

<section class="row">
  <h2 class="sectiontitle">Headings</h2>
  {{> headings}}
  <pre class="language-html"><code>{{> headings}}</code></pre>
</section>

<section class="row">
  <h2 class="sectiontitle">Paragraphs</h2>
  {{> paragraphs}}
  {{> paragraphs}}
  <pre class="language-html"><code>{{> paragraphs}}</code></pre>
</section>

<section class="row">
  <h2 class="sectiontitle">Anchors</h2>
  {{> anchors}}
  <pre class="language-html"><code>{{> anchors}}</code></pre>
</section>

<section class="row">
  <h2 class="sectiontitle">Unordered List</h2>
  {{> unordered-list}}
  <pre class="language-html"><code>{{> unordered-list}}</code></pre>
</section>