---
basename: verticale-tabs
title: Vertical tabs
description:
---

<h2 class="sectiontitle">Vertical tabs</h2>
    
  {{> verticale-tabs}}

<pre class="language-html"><code>{{> verticale-tabs}}</code></pre>

