---
basename: shopping-cart
title: Shopping cart
description:
---

<h2 class="sectiontitle">Shopping Cart</h2>

<div class="shoppingCartWrapper" style="width: 240px;">
  {{> shopping-cart}}
</div>

<pre class="language-html"><code>{{> shopping-cart}}</code></pre>

