.sectiontitle {
  @extend %section-title;
  margin-top: 40px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.row,
.row p {
  overflow: hidden;
}

.media--mobile {
  overflow: hidden;
  display: block;
  display: flex;
  align-items: center;
  margin-bottom: $margin;
  width: 320px;

  @include MQ($tab) {
    float: left;
  }

  @if $oldie {
    _overflow: visible;
    zoom:1;
  }

  .media__figure--mobile {
    float: left;
    margin-right: $margin;    
  }

  .media__body--mobile {
    overflow: hidden;
    flex: 1;

    @if $oldie {
      _overflow: visible;
      zoom:1;
    }
    
  }
  
}