<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">  
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>CPNB StyleGuide - {{title}}</title>
    <meta name="description" content="{{description}}">

    <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
    <link rel="stylesheet" href="/css/theme.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/css/styleguide.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/oldie.css">
      <script src="http://ben.dev/sites/all/themes/custom/tmobilenl/js/script/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="images/cpnblogo.png">
  </head>

  <body class="{{basename}}">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    
    {{> header-styleguide}}
    
    <div class="l-page"> 
      <main class="l-main" id="main-content">
                          
        {% body %}

      </main>
    
     {{#if template}}
        {{> footer-with-newsletter}}
      {{else}}
        {{> footer}}
      {{/if}}

    </div>

    <div class="mask-modal"><button class="close-modal"> Sluiten </button></div>
    
    <script src="/js/contrib.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/styleguide.js"></script>

    {{#if colors}}
      <script src="/js/atomic-swatch.js"></script>
    {{/if}}
   
  </body>
</html>