.block-campaigndata {
  background-color: white;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;

  label {
    color: $bright-blue;
    font-size: 14px;
    display: block;
  }

  h4 {
    font-size: 26px;
    line-height: 1.35;
    margin: 0;
  }

  small {
    font-size: 12px;
    font-weight: normal;
  }

  @include MQ($tab) {
    padding: 30px 30px 40px;
  }

}

.no-flexbox .block-campaigndata {
  @include MQ($tab) {
    @include clearfix;
  }
}

.flexbox .block-campaigndata {
  @include MQ($tab) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.campaigndata__item {

  .icon-button {
    vertical-align: top;
    width: 35px;
    height: 35px;
    background-size: 15px 15px;
  }

  @include MQ($tab) {
    text-align: left;
  }

  @include MQ($desk) {
    .icon-button {
      width: 45px;
      height: 45px;
      background-size: 20px 20px;
      margin-right: 4px;
    }
  }

}

.no-flexbox .campaigndata__item {
  @include MQ($tab) {
    float: left;
    width: 32%;
    margin-right: 2%;

    &:last-of-type {
      margin-right: 0;
    }

    &.campaigndata__item--full {
      width: 100%;
    }
  }
}


.flexbox .campaigndata__item {
  @include MQ($tab) {
    flex: 0 1 31%;

    &.campaigndata__item--full {
      flex-basis: 100%;
    }
  }
}

.no-flexbox .block-campaignreasons {
  @include MQ($tab) {
    @include clearfix;
  }
}

.flexbox .block-campaignreasons {
  @include MQ($tab) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.block-campaignreasons {
  background-color: white;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
  counter-reset: reason-counter;

  @include MQ($tab) {
    padding: 30px 30px 40px;
  }

  label {
    color: $bright-blue;
    font-size: 14px;
    display: block;
  }
}

.campaignreasons {
  list-style-type: none;
  padding-left: 0;

  @include MQ($tab) {
    display: block;
    width: 100%;
    flex: 1 0 100%;
  }
}

.campaignreason {
  padding-left: 18px;
  counter-increment: reason-counter;

  @include MQ($tab) {
    display: inline-block;
    width: 32%;
    vertical-align: top;
  }

  &:before {
    content: counter(reason-counter) ". ";
    display: inline-block;
    color: $bright-blue;
    margin-right: 5px;
    position: absolute;
    margin-left: -18px;

  }

}

.block-campaigninfo,
.block-campaigntopics,
.block-campaignmaterial,
.block-campaign-publications {
  background-color: white;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
  max-width: $tab;

  @include MQ($tab) {
    padding: 30px 30px 40px;
  }

  label {
    color: $bright-blue;
    font-size: 14px;
    display: block;
    font-weight: bold;
  }

}

.campaignmaterial__buttons {
  margin-top: 30px;

  .button {
    font-size: 1em;
    padding: 0.5em 2em;
    margin-bottom: 10px;
    width: 100%;

    @include MQ($tab) {
      margin-right: 10px;
      margin-bottom: 0;
      width: auto;
    }
  }

}

.campaigntopics__list {
  @include MQ($tab){
    column-count: 2;
  }
  
}

.campaigntopics__item {
  margin-bottom: 10px;
  line-height: 1.5;
  display: inline-block;
  padding-right: 20px;
  @include icon-right($black);

  &:before {
    top: 6px;
  }

  &:after {
    top: 11px;
  }

  &:hover {
    &:before,
    &:after {
      right: -3px;
    }

  }
}

.campaign-publications {
  margin-top: 20px;

  @include MQ($tab) {
    display: flex;
    align-content: center;
  }
}

.campaign-publications__text {
  background-color: $grey3;
  font-weight: normal;
  flex: 0 1 50%;
  padding: 20px 30px;
  font-size: 14px;
}

.campaign-publications__button {
  background-color: $grey1;
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;

  a {
    display: inline-block;
    @include icon-right($black);
    padding-right: 70px;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.1;

    &:before {
      width: 3px;
      right: 5px;

      @include MQ($tab) {
        top: 12px;
      }
    }

    &:after {
      width: 3px;
      right: 5px;

      @include MQ($tab) {
        top: 17px;
      }
    }
  }
}

// action bar in this template

.campagne-buttons {
  width: 100%;
  padding: 10px;

  @include MQ($tab) {
    width: auto;
    display: inline-block;
  }

  @include MQ($desk) {
    padding: 10px 0;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;

    @include MQ($tab) {
      width: auto;
      margin-bottom: 0;
      margin-right: 10px;
      min-width: auto;
    }
  }

}

.action-bar--campaign {

  .share-page__label {
    display: block;
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: $bright-blue;
    font-size: 14px;
    line-height: 42px;

    @include MQ($tab) {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      padding: 4px 0;
      flex-basis: auto;
    }

  }

  .share-page {
    padding: 10px 10px 40px;

    @include MQ($tab) {
      display: inline-block;
      vertical-align: top;
      line-height: 42px;
      padding-bottom: 10px;

      .share-page__label,
      .icon-share {
        display: none;
      }

      .icon-print {
        display: inline-block;
      }
    }

    @include MQ($plus) {
      
      .share-page__label {
        display: inline-block;
      }

      .icon-share {
        display: inline-block;
        margin-left: 5px;
      }
    }

  }

}

.action-bar--buttons {
  padding: 12px 10px;
  z-index: 12;
  position: relative;
  background-color: white;

  @include MQ($tab) {
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  @include MQ($plus) {
    padding-right: 0;
  }

  .button {
    min-width: 42%;
    outline: 0;

    @include MQ($tab) {
      width: auto;

      &.button-more {
        display: none;
      }

    }

  }

  .button--white {
    text-align: right;
    line-height: 1.5;
    font-weight: normal;
    padding-right: 40px;
    @include icon-right($black);

    &:before {
      top: 20px;
      right: 24px;
    }

    &:after {
      top: 25px;
      right: 24px;
    }

    &:hover {
      
      &:before,
      &:after {
        right: 20px;
      }

    }

  }

}
