.page-thank-you,
.page-checkout {

  .introduction,
  .checkout-help {
    @extend %attention;
  }

  .commerce-checkout-form-checkout .form-type-item {
    display: block;
  }

  .sim-only-text,
  .phone-text {
    display: none;

    @include MQ($desk) {
      display: block;
      float: right;
      width: 35%;
      padding-left: 15px;
      overflow: hidden;

      .phone-block-title {
        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
        display: block;
      }

    }

    ul {
      display: inline-block;
      list-style: none;
      vertical-align: top;
      margin-top: 18px;
      padding-left: 10px;
    }

    li {
      @include icon-check($blue);
      font-size: 14px;
      margin-bottom: 10px;
    }

  }

  .phone-text ul {
    width: 60%;
  }

  .line {
    @include icon-check($blue);
    font-size: 14px;
    display: block;
  }

  .phone-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    width: 35%;
  }
  .l-header {
    height: auto;
  }
  .l-highlighted {
    height: auto;
    
    @include MQ($tab){
      padding-top: 60px;
      margin-bottom: 25px;
    }

  }

  .l-region--highlighted {
    
    @include MQ($tab){
      width: 100%;
      float: none;
    }

  }

}

.page-student-bedankt {

  .panels-generic-content-inside {
    @include MQ($tab) {
      width: 100%;
      margin-right: 0;
      padding-left: 0;
      float: none;
    }

    @include MQ($desk) {
      width: 100%;
      margin-right: 0;   
    }

  }

}

.block--commerce-checkout-progress {
  padding-bottom: 0; // override from layout.scss
}

.block--tmobile-blocks-thank-you-student-top,
.block--tmobile-blocks-thank-you-display-top-block,
.block--tmobile-blocks-checkout-page-header {
  background-color: white;

  .block__content {
    overflow: hidden;
  }

  img {
    float: left;
    margin-left: 10px;
    margin-right: 15px;
  }

  color: $blue;
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 42px;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;

  @include MQ($desk){
    font-size: 30px;
  }

}

.commerce-checkout-form-proof-of-identity .field-name-field-expiery-date,
.commerce-checkout-form-checkout {

  legend {
    width: 291px;
    font-size: 14px;
    padding: 5px 15px 5px 0;
    display: block;

    @include MQ($tab) {
      float: left;
    }

    @include MQ($desk) {
      width: 191px;
    }


  }


}

.field-name-field-expiery-date,
.field-name-field-birthdate {

  .date-padding {
    display: inline-block;
    width: 140px;

    .form-item {
      margin-bottom: 0;
    }

    .form-text {
      width: 100%;
    }

    @include MQ($tab) {
      width: 145px;
    }

  }

  .fieldset-wrapper {

    @include MQ($tab) {
      float: left;
    }
  }

  .description {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 7px;
    padding: 4px 6px;
    color: white;
    background: $blue;
    border-radius: 4px;

    &:before {
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: 5px;
      margin-left: -10px;
      content: '';
      transform: rotate(45deg);
      background: $blue;
    }
  }

}

.field-name-field-address-number .form-text {
  width: 130px;
}

.field-name-field-address-number-addition {
  
  .form-item { 
    margin: 0;
    position: relative;
  }

  .form-text {
    position: absolute;
    top: -42px;
    width: 80px;
    left: 140px;
   
    @include MQ($tab){
      left: 430px;
    }

    @include MQ($desk){
      left: 330px;
    }
  }
}


#edit-commerce-fieldgroup-pane-group-personal-details-field-data-default-directory-und-1 + label,
#edit-commerce-fieldgroup-pane-group-personal-details-field-data-subscriber-info-und-1 + label {
  display: none;
}

.checkout-buttons {
  @extend %clearfix;
}

.checkout-continue {
  @extend %button--green;
  margin: 25px 0;

  @include MQ($tab){
    width: 220px;
    float: right;
  }

}

.commerce-checkout-form-checkout .checkout-continue {

  @include MQ($desk){
    margin-right: 250px;
  }

}

.commerce-checkout-form-checkout,
.commerce-checkout-form-number-portability,
.commerce-checkout-form-review,
.commerce-checkout-form-proof-of-identity {
  border: 1px solid $lightergray;
  padding: 10px; 
  
  @include MQ($tab){
    padding: 36px 25px 15px; 
  }

  .form-item label {
    padding: 5px 15px 5px 0;

    @include MQ($tab) {
      display: table-cell;
      margin-right: 10px;
      width: 291px;

      &.option {
        display: inline-block;
        width: auto;
      }
    }

    @include MQ($desk) {
      width: 191px;

      &.option {
        width: auto;
      }

    }

  }

  .form-type-managed-file label {
    @include MQ($tab) {
      display: block;
      margin-right: 0;
      width: auto;
    }

    @include MQ($desk) {
      width: auto;
    }

  }

  .field-name-field-address-number-addition label {
    display: none;

    @include MQ($tab){
      display: none;
    }

  }

  @include MQ($tab) {
    .form-item {
      display: table;
    }

    .form-radios .form-item {
      display: inline-block;
    }

  }

}

.commerce-checkout-form-checkout .commerce_fieldgroup_pane__group_student_offer {
  .fieldset-legend {
    font-weight: bold;
    color: $blue;
  }
}

.checkout_review {
  border: 1px solid $lightergray;
  padding: 12px 10px 5px;
  margin-bottom: 2em;

  h3 {
    font-size: 1em;
    color: black;
    margin-bottom: 5px;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    line-height: 1.5em;
  }

  .left_information,
  .right_information {
    @include MQ($tab){
      display: inline-block;
      vertical-align: top;
      width: 49%;
    }
  }

}

.field-name-field-review-order-terms {

  .form-checkboxes {
    margin-right: 5px;
  }

  .form-checkbox {
    position: static;
    opacity: 1;
  }

  .description {
    font-size: 14px;
    display: table-cell;

    a {
      color: $blue;
      text-decoration: underline;
      font-weight: bold;
    }

  }

}

.checkout-back {
  color: $blue;
  margin: 25px 10px 25px 0;
  background-image: none;
  background-color: white;
  font-size: 14px;
  line-height: 1.875em;
  text-decoration: underline;
  margin-bottom: 20px;

  &:hover {
    background-color: white;
  }
}

@include MQ($tab) {
  .commerce-checkout-form-number-portability {  
  
    .form-item label {
      width: 280px;

      &.option {
        width: auto;
      }

    }

  }

}

.commerce-checkout-form-number-portability,
.commerce-checkout-form-proof-of-identity {

  legend {
    display: none;
  }

}

.checkout-completion-message {
  clear: both;
  margin-top: $margin-big;

  p:first-child {
    @extend %attention;

    a {
      font-weight: bold;
    }

  }

  p:last-child a {
    @extend %button;
  }

}

.field-name-field-how-does-it-pay {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $lightergray;

  @include MQ($desk) {
    float: right;
    max-width: 230px;
    border-bottom: 0;

    p:first-child {
      margin-top: 0;
    }

  }

}

.pane-tmobile-blocks-product-phone-student-thankyou,
.pane-tmobile-blocks-product-thankyou {
  margin-top: $margin-big;
  padding: $margin-big;
  border: 1px solid $lightergray;
  width: 100%;

  @include MQ($desk) {
    width: 75%;
  }

  @extend %clearfix;

  .header_text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: $margin;
    color: $blue;
    padding-left: 35px !important;

    @include icon-check($blue);

    &:before {
      top: 10px;
      width: 25px;
      height: 5px;
    }

    &:after {
      top: 13px;
      width: 10px;
      height: 5px;
    }

  }

  .intro_text {
    @extend %attention;
  }

  h3 {
    font-weight: bold;
    color: $blue;
  }

  .bullets {
    float: left;
    width: 100%;    
    padding-right: $margin;

    li {
      clear: both;
      min-height: 35px;
      margin-bottom: $margin-big;
      position: relative;
    }

    @include MQ($tab) {
      width: 55%;
    }
  }

  .numbers {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    margin-right: $margin;
    padding: 10px;
    content: '';
    text-align: center;
    color: $white;
    border-radius: 50%;
    background-color: $blue;
  }
  .text{
    display: block;
    padding-left: 45px;
  }

  .sidebar-info {
    width: 100%;

    @include MQ($tab) {
      width: 45%;
      float: right;
    }
    .phone_image {
      float: left;
      width: 45%;
      padding-right: $margin;

      img {
        float: left;
        width: 100%;
      }
    }
    .sidebar_text {
      width: 55%;
      float: left;
    }
    .app_items {
      width: 55%;
      float: left;
      ul {
        margin: 0;
      }
      li {
        margin-bottom: $margin;
      }
    }

    .apple-store {
      font-size: 0;
      display: block;
      background: url(../images/ios.png) top left no-repeat;
      width: 86px;
      height: 30px;
    }

    .google-store {
      font-size: 0;
      display: block;
      width: 86px;
      height: 30px;
      background: url(../images/android.png);
    }

  }

}