.section-ikben {

  .l-header {
    height: auto;

    @include MQ($tab) {
      height: 220px;
    }
  }

  .l-main > .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  
  .panels-generic-content-top-wrapper {
    background: $lightestgray;
    border-top: 1px solid $lightergray;
    border-bottom: 1px solid $lightergray;
  }

  .panels-generic-content,
  .panels-generic-content-top {
    padding-left: 10px;
    padding-right: 10px;
  }

  .panels-generic-content-left-sidebar-inside {
    margin-bottom: 40px;
  }

  .panel-pane + .panel-pane {
    margin-top: 15px;
  }

  @include MQ($tab){

    .panels-generic-content-left-sidebar-inside {
      width: 15%;
      margin-right: 1.9%;
      float: left;
    }

    .panels-generic-content-inside {
      width: 72%;
      margin-right: 2.9%;
      float: left;  
    }

    .panels-generic-content-left-sidebar-inside + .panels-generic-content-inside {
      width: 56%;
      margin-right: 1.9%;
    }

    .panels-generic-content-sidebar-inside {
      width: 25%;
      float: right;
      margin-top: 0; // the general one get only zero from desktop and bigger

      .panel-pane {
        float: none;
        margin-right: 0;
        width: 100%;
      }

    }

  }

  .panels-generic-content-inside .pane-title {
    @extend %section-title;
  }

  .update-package-header-message {

    h2 {
      @extend %section-title;
    }

    a {
      text-decoration: underline;
    }

  }

}

.ud1-user-message,
.hide-block {
  @extend %element-hidden;
}

.ud1-infographic {

  h2 {
    color: $blue;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 12px;
    display: inline-block;
  }

  .last-updated-info {
    font-size: 0.875em;
    margin-bottom: 20px;
    display: inline-block;
  }

  .bundle-refresh {
    @extend %button;
    margin-top: 10px;
    margin-left: 10px;
  }

}

.dashboard-circles {
  text-align: center;
}

.dashboard-circle {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 134px;
  height: 134px;
  margin-right: 12px;
  margin-bottom: 20px;
  text-align: center;

  @include MQ($desk) {
    width: 191px;
    height: 191px;
    font-size: 1.35em;
    margin-right: 20px;
  }

  &:nth-child(even){
    margin-right: 0;

     @include MQ($tab) {
      margin-right: 20px;
    }
  
  }

  canvas {
    width: 100%;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 0;
  }

  .icon {
    position: relative;
    margin-top: 20px;

    @include MQ($desk) {
      height: 50px;
    }

    img {
      height: 20px;
      
      @include MQ($desk) {
        height: auto;
      }

    }

  }

  .counter {
    font-size: 2.1em;
    line-height: 1;
    font-weight: bold;
    position: relative;
  }

  .info {
    font-size: 0.75em;
    padding: 0 20px;
    position: relative; 
    
    p {
      margin: 0;
      font-size: 1em;
      line-height: 1.1;
    }
  }

  .inactive-text {
    margin-top: 34px;
    font-weight: bold;
  }

}

.dashboard-actions {
  background-color: white;
  padding: 10px 15px;
  margin: 10px auto;
  border: 1px solid $lightergray;
  max-width: 320px;

  p {
    margin: 0;
  }

}

.pane-tmobile-package-update-update-package-view .node__title {
  @extend %element-hidden;
}

.page-ikben-facturen .pane-menu-block-3 .last {
  padding-bottom: 145px;
  position: relative;
  
  &:after {
    display: block;
    position: absolute;
    content: '';
    bottom: 30px;
    left: 12px;
    width: 90px;
    height: 110px;
    background: url("../images/pdf_icon.png") 0 0 no-repeat;
  }
}


.section-ikben .pane-page-title h2 {
  @extend %section-title;
}

.pane-tmobile-selfcare-renew-subscription-top-deal .pane-title {
  @extend %section-subtitle;
}

// Huidig 
.explanation {
  font-size: 0.875em;
}

.tmobile-selfcare-block-simcard-form {
  
  ul {
    @extend %list--check;
  }

}

// Pin- en pukcode
.pane-tmobile-selfcare-pin-puk {

  h3 {
    @extend %section-title;
  }

  li {
    line-height: 1.5;
    font-size: 0.875em;
  }

  .label {
    width: 140px;
    display: inline-block;
  }

  .value {
    display: inline-block;
    font-weight: bold;
  }

}

// Gegevens wijzigen

.page-ikben-gegevens {
  
  .edit-link {
    text-align: right;

    a {
      @extend %button;
    }

  }

  .contact-title,
  .address-title,
  .subscription-info,
  .personal-info-title,
  .financial-table-info {
    @extend %section-subtitle;
  }

  th {
    width: 40%;
    min-width: 150px;
  }

}


