.pane-tmobile-blocks-user-order-status {
  padding-bottom: 12px;

}

.ud1-infographic-order-no {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-right: 20px;
}

.ud1-infographic-circle {
  text-align: center;
  clear: both;

  @include MQ($tab){
    max-width: 450px;
    margin: 0 auto;
  }

  @include MQ($desk){
    max-width: none;
  }

}
  
.ud1_circle {
  background-color: white;
  border: 6px solid $blue;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 20px;

  @include MQ($tab) {
    width: 191px;
    height: 191px;
    font-size: 1.35em;
  }

  @include MQ($desk){
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }

  }

}

.circle_arrow {
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 38px;
  width: 18px;
  left: 130px;
  position: relative;
  top: 46px;

  @include MQ($tab) {
    left: 180px;
    top: 70px;
  }
}
  
.status {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  margin: 0;
  position: relative;
  top: -15px;

  @include MQ($tab) {
    top: 5px;
    font-size: 16px;
  }

} 

.circle_state {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  left: 50%;
  margin-left: -12px;
  top: -20px;
  height: 24px;
  width: 24px;
  background-size: contain;

  @include MQ($tab){
    margin-left: -18px;
    top: 0;
    height: 36px;
    width: 36px;
  }

}

.no-blue-circle {

  border-color: $lightergray;
  
  .status {
    color: $lightergray;
  }
  
  .circle_state {
    background-image: url('../images/circle-info.png');
  }
  
  .circle_arrow {
    background-image: url('../images/circle-arrow-grey.png');
  }

}

.active-blue-circle {
  
  .circle_state {
    background-image: url('../images/circle-active.png');
  }

  .circle_arrow {
    background-image: url('../images/circle-arrow.png');
  }

}
   