.view-faq-blocks {
  
  > .view-content {
    @extend %clearfix;
  
    > .views-row {
      padding: 0 15px 0 0;
      margin: 25px 0;
      
      @include MQ($tab) {
        float: left;
        width: 33%;
      }

    }

  }

}

.pane-faq-nodes-customer-service-pane {
  display: none;

  @include MQ($tab) {
    display: block;
  }
  
}

.page-klantenservice .panels-generic-content-sidebar-inside {
  
  @include MQ($tab) {
    width: 100%;
  
    .flexbox & {
      display: flex;
      flex-wrap: wrap;
    }

  }

}

.page-klantenservice {

  .vertical-tabs-list {
    border-top: 0;
    margin-top: 0;
  }

  .vertical-tabs {
    background-color: $lightestgray;
    border: 0;
  }

  .vertical-tabs-pane {
    background-color: $lightestgray;
    min-height: 225px;
  }

  .vertical-tab-button {
    overflow: hidden;
    background: white;
    border: 0;
    
    strong {
      background: $blue;
      border-radius: 100%;
      color: white;
      float: left;
      padding: 2px;
      height: 24px;
      width: 24px;
      text-align: center;
      margin-right: 10px;
      margin-top: -3px;
    }

    .summary {
      overflow: hidden;
      display: block;
    }

    &.selected {
      background-color: $lightestgray;
    }

    a {
      display: block;
      padding: 0.8em 0.6em;

      &:hover {
        outline: 0;
      }
    }

  }

}

// Detail pages

.section-faq-category {

  .panels-generic-content-top-middle {
    border-top: 0;
  }

  .pane-siblingterms {
    margin-bottom: $margin-big;
  }

  .pane-2 p {
    font-size: 18px;
    margin-top: 0;
    font-weight: 700;
  }

  @include MQ($tab){

    .panels-generic-content-top-middle-pane-inside {
      width: 100%;
      float: none;
      margin-right: 0;
    }

    .panels-generic-content-inside {
      overflow: hidden;
    }

    .pane-siblingterms {
      float: left;
      width: 25%;
      margin-right: 1.9%;
    }

    .pane-2,
    .pane-term-description,
    .pane-views-panes {
      overflow: hidden;
    }

    .pane-term-description,
    .pane-views-panes {
      margin-bottom: 20px;
    }

    .pane-1 {
      display: none;
    }


  }

  .panels-generic-content-inside {
    position: relative;
  }

}

.page-klantenservice .ui-state-active {
  background-color: $blue;
  
  .ui-icon:before,
  .ui-icon:after, {
    background-color: $white;
  }

  a {
    color: $white;
  }

}

.page-klantenservice .ui-accordion-content {
  padding: 0;
}


.new-customer-block,
.register-customer-left-col,
.register-customer-right-col {
  padding: 30px;
  font-size: 14px;
}

.register-customer-right-col {
  background-color: $lightestgray;
}

.pane-quicktabs-ask-it-here .ui-accordion-content {

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin: 0 0 18px;
  }

  .brandname {
    color: $blue;
  }

  .trademark {
    margin-right: 5px;
  }

  .callblock {
    
    h4,
    ul {
      padding-left: 20px;
      font-size: 14px;
    }

    em {
      color: $normalgray;
      font-weight: normal;
    }

    ul {
      margin: 0 0 20px;
    }

  }

}

@include MQ($tab) {
  .register-customer-left-col {
    display: table-cell;
    width: 49.5%;
  }

  .register-customer-right-col {
    display: table-cell;
  }

}
