@include MQ($tab) {

  .tmobile-user-request-account-form,
  .user-pass,
  .user-login { 
    width: 65%;
    float: left;
    margin-right: 2%;

    .form-item {
      display: inline-block;

      label {
        display: block;
        width: auto;
      }
    }

  }

  .block-boxes-warning {
    float: right;
    width: 45%;
    display: block;
  }

  .page-user .block--tmobile-blocks-faults-maintenance {
    float: right;
    margin-top: 40px;
    margin-right: 0;
    width: 33%;
    max-width: 240px;
  }

}

@include MQ($desk) {

  .tmobile-user-request-account-form,
  .user-pass,
  .user-login {
    width: 71%;
    margin-right: 2.9%;

    .form-item {
      display: table;

      label {
        display: table-cell;
        width: 165px;
      }

      .password-toggle {
        display: block;
        width: auto;
        top: 6px;
        margin-right: 0;
      }
    
    }

    .form-submit {
      margin-left: 165px;
      margin-top: 10px;
    }

    .pass-forgotten {
      margin-left: 165px;
    }

  }

  .block-boxes-warning {
    width: 240px;
  }

  .page-user .block--tmobile-blocks-faults-maintenance {
    float: right;
    width: 23%;
  }

}

.request-account-title .form-type-item {
  @extend %section-title;
  margin-top: 0;
}