.page-sim-only,
.page-phone,
.page-student {

	.panels-generic-content-top-inside,
	.panels-generic-content-inside {
		@include MQ($tab) {
			width: 72%;
    	margin-right: 1%;
    	padding-left: 10px;
    	float: left;
		}

		@include MQ($desk) {
			width: 72%;
			margin-right: 1%;		
		}

	}

	.panels-generic-content-top-sidebar-inside {

		@include MQ($tab) {
			width: 100%;
			padding-right: 10px;
			margin-top: 0;

			&.is-fixed {
		    position: fixed;
		    width: 27%;
				top: 0;
			}

		}

		@include MQ($desk) {
		  width: auto;
		  max-width: 240px;

		  &.is-fixed {
		  	width: 240px;
		  }
		}

	}

	.shoppingCartWrapper {
		@include MQ($tab) {
			right: 0;
			width: 27%;
			position: absolute;
		}

		@include MQ($desk) {
			width: 25%;
		}


	}

	@include MQ($deskplus) {
	  .panels-generic-content-top-inside,
	  .panels-generic-content-top-sidebar-inside {
	    padding-left: 0;
	    padding-right: 0;
	  }

	}

	.l-main > .container {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	.panels-generic-content-top-wrapper {
		background: $lightestgray;
		border-top: 1px solid $lightergray;
		border-bottom: 1px solid $lightergray;
    position: relative;
    z-index: 10;
	}
	
	.panels-generic-content-inside > .panel-pane {
		@extend %product-infobox;

		.pane-title {
			@extend %product-infobox__title;
		}

		h5 {
			font-size: 18px;
			line-height: 1.25em;
		}

		.container {
			position: static;
		}

		.node__title {
			@extend %element-hidden;
		}

		ol {
			border-left: 2px solid $blue;
    	counter-reset: item;
    	margin: 0 0 0 15px;
    	position: relative;

    	li {
    		margin: 15px 0;
    		list-style: none;

    		&:before {
    			color: white;
			    content: counter(item,decimal) "";
			    counter-increment: item;
			    display: block;
			    left: -17px;
			    position: absolute;
			    background: $blue;
			    height: 32px;
          line-height: 32px;
			    width: 32px;
			    text-align: center;
			    font-size: 18px;
			    font-weight: bold;
			    border-radius: 100%;
    		}
    	}
		}
	
	}

	.field--name-field-title-icon {
		height: 20px;
    position: absolute;
    top: 30px;
    width: 20px;

    img {
    	width: auto;
    	max-height: 20px;
    }

	}

}

.page-student .panels-generic-content-top-wrapper,
.page-phone .panels-generic-content-top-wrapper {
	margin-top: 40px;
}

.page-student .pane-entity-view,
.pane-tmobile-selfcare-renew-phone-package li:nth-child(2),
.page-phone .pane-entity-view {

	.color-options-label {
    font-weight: bold;
    font-size: 16px;
	}

	.module-productdetails-icon {
    max-width: 152px;
    position: absolute;
    right: 0;
    width: 40%;

    a {
    	display: block;
    }

  }

	.product_image {
		position: relative;
		overflow: hidden;

		@include MQ($tab){
			overflow: visible;
		}

		.node__title {
			display: block;
			top: 0;
			left: 160px;
			position: absolute;
		}
	}

	.cloud-zoom-container {

		img {
			max-width: 140px;
		}
	}

	.cloud-zoom-gallery-thumbs {
		clear: none;
    padding-top: 42px;
    margin-left: 160px;
    position: relative;
    float: none !important;
	}

	.cloud-zoom-gallery {
		margin: 0 10px 10px 0;
		border: 2px solid transparent;
		display: inline-block;

		&:hover {
			border-color: $blue;
		}

		img {
			max-width: 50px;
			height: auto;
		}
	}

	.product_specifications {
		clear: both;
		margin-top: 20px;

		@include MQ($tab){
			margin-left: 160px;
    	clear: none;
		}
	}

}

.main_specification,
.secondary_sepcifications {
	margin: 20px 0;

  .field__label {
    display: none;
  }

  .field--type-field-collection > .field__items > .field__item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 10px;
  }

}

.main_specification	{

	.field--name-field-field-collection-value {
		color: $blue;
  	font-size: 30px;
  	font-weight: bold;
  }
}

.secondary_sepcifications {

	.field--name-field-label {
		margin-bottom: 5px;
		color: black;
  	font-weight: bold;
	}

}

.form-item-attributes-field-data-bundle {
	.ajax-class.phone,
  .ajax-class.sim_package_only {
    background: url(../images/service-blue.png) right 0 no-repeat;
    cursor: pointer;
    font-weight: normal;
    float: right;
    font-size: 13px;
    line-height: 27px;
    padding-right: 29px;
  }

  .close {
    background: url(../images/close-blue.png) right 3px no-repeat;
    cursor: pointer;
    font-weight: normal;
    float: right;
    font-size: 13px;
    line-height: 27px;
    padding-right: 23px;
  }

  .helptext_node {
  	background-color: white;
    border: 1px solid $lightergray;
    padding: 16px;
    position: relative;
    margin-bottom: 28px;
    margin-top: 6px;
    font-weight: normal;

    &:before {
    	border-color: transparent $lightergray $lightergray transparent;
	    border-style: solid;
	    border-width: 6px;
	    content: "";
	    display: block;
	    height: 0;
	    position: absolute;
	    right: 6px;
	    top: -12px;
	    width: 0;
    }

    .info-wrapper:before {
    	border-color: transparent white white transparent;
	    border-style: solid;
	    border-width: 5px;
	    content: "";
	    display: block;
	    height: 0;
	    position: absolute;
	    right: 7px;
	    top: -10px;
	    width: 0;
		}
   

    td {
    	padding: 4px 2px;
    }

  }


}

