.page-search {

  .intro_text {
    background-color: $lightestgray;
    padding: 20px;
    margin: 15px 0;
  }

  .other-results {
    @extend %section-subtitle;
    margin-top: 40px;
  }

  .search-result {
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed $lightergray;
  }

  .title a {
    @extend %section-title;
    margin-bottom: 0;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-snippet {
    margin-top: 0;

    strong {
      text-decoration: underline;
    }
  }

}


.search-form .form-item label {
  @extend %page-title;
}

.search-form .form-text {
  margin-bottom: 10px;
  display: block;

  @include MQ($tab) {
    display: inline-block;
    width: 400px;
    margin-bottom: 0;
  }

}