// Default

.section-default {
  padding: 25px 10px;
  max-width: $desk;
  margin: 0 auto;
  position: relative;

  @include MQ($tab) {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  @include MQ($desk) {
    padding-top: 115px;
  }

  @include MQ($plus){
    max-width: $desk;
    padding-left: 0;
    padding-right: 0;
  }

}

.no-flexbox .section-default {
  @include clearfix;
}

.section--title {
  @extend %section-title;
}

.section-readmore {
  display: block;
  background-color: white;
  color: $bright-blue;
  text-align: center;
  margin: 25px 0;
  padding: 10px 30px;
  @include icon-right($bright-blue);

  &:before {
    top: 14px;
    right: 12px;
    height: 9px;
    width: 3px;
  }

  &:after {
    top: 19px;
    right: 12px;
    height: 9px;
    width: 3px;
  }

  @include MQ($tab) {
    @include icon-right($black);
    position: absolute;
    background-color: transparent;
    color: $black;
    margin: 0;
    right: 30px;
    padding: 0 14px 0 0;
    top: 90px;
    font-family: $serif-font;   
    line-height: 2;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      height: 6px;
      top: 12px;
      right: 4px;
    }

    &:after {
      height: 6px;
      top: 16px;
      right: 4px;
    }
  }

  @include MQ($desk) {
    top: 115px;
  }

}

.teaser-intro {
  display: none;

  @include MQ($desk) {
    display: block;
    flex: 1 1 300px;
    background: white;
    position: relative;
    max-height: 300px;
  }

}


.teaser-intro__title {
  text-align: right;
  font-weight: normal;
  font-family: $serif-font;
  line-height: 1.1;
  font-size: 36px;
  margin-top: 0;
  @include center(xy);
  position: absolute;
  width: 72%;

  span {
    display: block;
    color: $pink;
  }
}

.flexbox .teaser-home--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teaser-intro--event .teaser-intro__title span,
.teaser-intro--campaign .teaser-intro__title span,
.teaser-intro--document .teaser-intro__title span {
  color: $bright-blue;
}

.teaser-intro--news .teaser-intro__title span {
  color: $pink;
}

.teaser-intro--insight .teaser-intro__title span {
  color: $bright-purple;
}

.teaser-intro--relevant-campaign .teaser-intro__title span,
.teaser-intro--participant .teaser-intro__title span {
  color: $orange1;
}

// Insights has extra image in intro 
.teaser-intro--insight__image {
  display: none;

  @include MQ($desk) {
    display: block;
    flex: 1 1 300px;
    width: 300px;
    height: 300px;
    float: left;
    background-size: cover;
    background-position: 50%;
  }

}

.section-small {
  padding: 25px 10px;
  max-width: $desk;
  margin: 0 auto;
  position: relative;

  @include MQ($plus){
    padding-left: 0;
    padding-right: 0;
  }

}

.section-news .button--loadmore {
  background-color: $bright-blue;

  &:hover {
    background-color: $deep-blue;
  }

}

.section-campaigns .button--loadmore {
  background-color: $bright-purple;

  &:hover {
    background-color: $deep-purple;
  }

}
