.page-sim-only {

  h1 {
    margin-bottom: $margin-big;
  }

  .sim-only-image-block {
    @extend %element-hidden;

    @include MQ($tab) {
      display: block;
      width: 19%;
      float: left;
    
      ul {
        margin: 5px 0;
      }

      li {
        margin-bottom: 8px;
      }

      a {
        padding-right: 24px;
        font-size: 13px;
        position: relative;
        display: block;
        color: $blue;
        text-align: right;
        font-weight: bold;
        transition: .3s;

        &:hover {
          text-decoration: none;
          color: black;
        }

        &:hover:before,
        &:hover:after {
          background-color: black;
        }

        &:before,
        &:after {
          position: absolute;
          display: block;
          width: 3px;
          height: 10px;
          content: '';
          transition: .3s;
          background: $blue;
          left: 94%;
          top: 5px;
          backface-visibility: hidden;
        }

        &:before {
          transform: rotate(225deg);
        }

        &:after {
         transform: rotate(-45deg);
         margin-left: -5px;
        }
      }

    }

  }

  @include MQ($tab) {
    .pane-entity-view {
      width: 78%;
      float: right;
    }

  }
  
}

@include MQ($tab) {
  .pane-tmobile-sim-only-package-simonlypage-combodeal {
    width: 78%;
    float: right;
  }

}


// Combo Blocks


.combo_image_one_block,
.combo_image_two_blocks {
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  img {
    opacity: 0; //This will give the wrapper a appropriate dimension for when no content height is set
  }

}

.combo_text_one_block{
  width: 100%;
  display: block;
  padding: 20px 20px;
  border: 1px solid $lightestgray;
  background-color: white;
  
  p:first-child{
    margin-top: 0;
  }
  
  ul {
    margin: 0 0 10px;

    li {
      background-image: inline-image('../images/icons/plus03-blue.png');
      background-repeat: no-repeat;
      background-position: left 2px;
      padding-left: 25px;
    }

  } 

}

.combo_image_two_blocks,
.combo_text_two_blocks{
  width: 100%;
  display: block;
  
  @include MQ($tab) {
    width: 48%;

    &:first-child{
      float: left;
    }
    
    &:last-child{
      float: right;
    }

  }

}

.flexbox .combo_two_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox .combo_image_two_blocks {
  flex: 1 1 100%;
  margin-bottom: 20px;
  
  @include MQ($tab) {
    flex: 0 1 48%;
    margin-bottom: 0;
  }

}



