.section-studentoffer {

  .panels-generic-content-top-wrapper {
    margin-top: 0;
  }

  .pane-1 .pane-title {
    background: $blue;
    color: white;
    padding: 2px 5px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.5;
  }

  .pane-1 li {
    @include icon-plus($blue);
    font-weight: bold;
    font-size: 16px;

    &:before {
      top: 3px;
    }

    &:after{
      top: 8px;
    }

    strong {
      color: $blue;
    }

  }

  .pane-1 a {
    color: $blue;
    text-decoration: underline;
  }

  @include MQ($tab) {

    .panels-generic-content-top-inside,
    .panels-generic-content-inside {
      float: none;
      width: 100%;
    }

    .panels-generic-content-inside {
      padding-left: 0;
    }
  
  }

  @include MQ($desk) {

    .panels-generic-content-top-inside,
    .panels-generic-content-inside {
      width: 100%;
      margin-right: 0;
      padding-left: 0;
    }
  
  }

  .panels-generic-content-inside .pane-phone-catalog {
    border: 0;

    @include MQ($tab) {
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  

}