.subscription-block {
  margin-bottom: 10px;

  img {
    width: 100%;
    display: block;
  }

  @include MQ($tab){
    padding-right: 25px;
    display: inline-block;
    width: 49.5%;
    max-width: none;

  }

}

.subscription-footer .btn {
  margin-left: 20px;
}

a.btn-type-02 {
  @extend %button;
  @extend %button--blue;
  text-decoration: none;
  font-size: 20px;
  background-image: none;
}