%button,
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 42px;
  font-weight: bold;
  max-width: 100%;
  padding: 4px 20px;
  min-height: 42px;
  text-decoration: none;
  color: white;
  border: none;
  text-align: center;
  background-color: $black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0);
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  }

}

%button--purple,
.button--purple {
  background-color: $bright-purple;

  &:hover {
    background-color: $deep-purple;
  }

}

%button--pink,
.button--pink {
  background-color: $pink;

  &:hover {
    background-color: darken($pink,5%);
  }

}


%button--blue,
.button--blue {
  background-color: $bright-blue;

  &:hover {
    background-color: $deep-blue;
  }

}

%button--grey,
.button--grey {
  background-color: $grey2;
  color: $black;

  &:hover {
    background-color: $grey5;

  }

}

%button--orange,
.button--orange {
  background-color: $orange1;
  color: $white;

  &:hover {
    background-color: darken($orange1, 10%);

  }

}

%button--orange-2,
.button--orange-2 {
  background-color: $orange2;
  color: $white;

  &:hover {
    background-color: darken($orange2, 10%);

  }

}

%button--white,
.button--white {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $white;
    color: $black;
  }

}

%button--add,
.button--add {
  padding: 4px 80px 4px 40px;
  line-height: 42px;
  min-height: 42px;
  width: 100%;

  @include MQ($tab) {
    width: auto;
  }
  
  b {
    display: inline;
    @include icon-plus($black);
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(0,0,0,.2);
  }

  b:before{
    left: auto;
    right: 24px;
    top: 20px;
    transition: transform .5s;
  }

  b:after {
    left: auto;
    right: 19px;
    top: 25px;
    transition: transform .5s;
  }

  &:hover {
    background-color: $grey2;
    
    b:after,
    b:before {
      transform: rotate(90deg);
    }

  }

}

%button--view,
.button--view {
  padding-right: 40px;
  @include icon-right($white);

  &:before {
    top: 20px;
    right: 24px;
  }

  &:after {
    top: 25px;
    right: 24px;
  }

  &:hover {
    
    &:before,
    &:after {
      right: 20px;
    }

  }

}

%button--loadmore,
.button--loadmore {
  padding-right: 40px; 
  @include icon-down($white);
  
  &:before {
    right: 16px;
  }

  &:after {
    right: 21px;
  }

  &:hover {
    
    &:before, 
    &:after {
      top: 27px;
    }

  }

}


.button--follow {
  padding-right: 40px;
  @include icon-plus($white);

  &:before{
    left: auto;
    right: 24px;
    top: 20px;
    width: 2px;
    height: 12px;
  }

  &:after {
    left: auto;
    right: 19px;
    top: 25px;
    height: 2px;
    width: 12px;
  }

  &:hover {
    
    &:after,
    &:before {
      transform: rotate(90deg);
    }

  }

}

.button--followed {
  opacity: 0.8;

  &:before{
    transform: rotate(45deg);
  }

  &:after{
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 1;
    
    &:after,
    &:before {
      transform: rotate(45deg) scale(1.2);
      tranform-origin: center center;
    }
  }


}

%button--large,
.button--large {
  font-size: 20px;
  padding: 20px 30px;
}

%button--submit {
  background-image: url('../images/arrow-simple-right-white.svg');
  background-position: 92% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  padding: 10px 40px 10px 30px;

  &:hover {
    background-position: 96% 50%;
  }
}


// --- Drupal Selectors ---

