%button,
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 42px;
  font-weight: bold;
  max-width: 100%;
  padding: 4px 20px;
  min-width: 180px;
  min-height: 42px;
  text-decoration: none;
  color: white;
  border: none;
  text-align: center;
  background-color: $black;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

}

%button--purple,
.button--purple {
  background-color: $bright-purple;

  &:hover {
    background-color: $deep-purple;
  }

}

%button--pink,
.button--pink {
  background-color: $pink;

  &:hover {
    background-color: darken($pink,5%);
  }

}


%button--blue,
.button--blue {
  background-color: $bright-blue;

  &:hover {
    background-color: $deep-blue;
  }

}

%button--grey,
.button--grey {
  background-color: $grey2;
  color: $black;

  &:hover {
    background-color: $grey5;

  }

}

%button--orange,
.button--orange {
  background-color: $orange1;
  color: $white;

  &:hover {
    background-color: $orange2;

  }

}

%button--white,
.button--white {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $white;
    color: $black;
  }

}

%button--add,
.button--add {
  padding: 10px 70px 10px 40px;
  line-height: 1.5em;
  min-height: 0;
  background-color: $grey2;
  width: 100%;

  @include MQ($tab) {
    width: auto;
  }
  
  b {
    display: inline;
    @include icon-plus($black);
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-left: 1px solid rgba(0,0,0,.2);
  }

  b:before{
    left: auto;
    right: 17px;
    top: 14px;
    transition: transform .5s;
  }

  b:after {
    left: auto;
    right: 12px;
    top: 19px;
    transition: transform .5s;
  }

  &:hover {
    background-color: $grey2;
    
    b:after,
    b:before {
      transform: rotate(90deg);
    }

  }

}

.button--large {
  font-size: 20px;
  padding: 20px 30px;
}


// --- Drupal Selectors ---

