.icon-button {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
  text-indent: -999em;
  font-size: 0;
}

.icon-twitter {
  background-image: url(../images/icon-twitter-grey.svg);

  &.icon-black,
  &.icon-share {
    background-image: url(../images/icon-twitter-white.svg);
  }

  &.icon-blue {
    background-image: url(../images/icon-twitter-blue.svg);
  }

}

.icon-facebook {
  background-image: url(../images/icon-facebook-grey.svg);

  &.icon-black,
  &.icon-share {
    background-image: url(../images/icon-facebook-white.svg);
  }

  &.icon-blue {
    background-image: url(../images/icon-facebook-blue.svg);
  }

}

.icon-flickr {
  background-image: url(../images/icon-flickr-grey.svg);

  &.icon-black,
  &.icon-share {
    background-image: url(../images/icon-flickr-white.svg);
  }

  &.icon-blue {
    background-image: url(../images/icon-flickr-blue.svg);
  }

}

.icon-youtube {
  background-image: url(../images/icon-youtube-grey.svg);

  &.icon-black,
  &.icon-share {
    background-image: url(../images/icon-youtube-white.svg);
  }

  &.icon-blue {
    background-image: url(../images/icon-youtube-blue.svg);
  }

}

.icon-linkedin {
  background-image: url(../images/icon-linkedin-grey.svg);

  &.icon-black,
  &.icon-share {
    background-image: url(../images/icon-linkedin-white.svg);
  }

  &.icon-blue {
    background-image: url(../images/icon-linkedin-blue.svg);
  }

}

.icon-mail {
  background-image: url(../images/icon-mail-white.svg);
}

.icon-whatsapp {
  background-image: url(../images/icon-whatsapp-white.svg);
}
 
.icon-print {
  background-image: url(../images/icon-print-white.svg);   
}

.icon-black {
  background-color: $black;
}

.icon-share {
  background-color: $bright-blue;
}

.icon-blue {
  background-color: $white;
}