button, input, optgroup, select, textarea {
  font: inherit;
  color: inherit;
}

// Address `overflow` set to `hidden` in IE 8/9/10/11.
button {
  overflow: visible;
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// Correct `select` style inheritance in Firefox.
button,
select {
  text-transform: none;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.

button,
html input[type="button"], // 1 
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2 
  cursor: pointer; // 3 
}

// Remove inner padding and border in Firefox 4+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.
input {
  line-height: normal;
}


// Remove default vertical scrollbar in IE 8/9/10/11.
textarea {
  overflow: auto;
}

.form-text {
  border-radius: 0; // override ios default
  font-family: $serif-font;
  font-size: 16px;
  color: $black;
  background-color: $white;
  display: inline-block;
  padding: 11px 16px;
  box-shadow: 0px 0px 0px 2px transparent;
  vertical-align: middle;
  border: 0;
  -webkit-appearance: none;
  width: 100%;

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
  }

  &:focus {
    outline: 0;
    animation: anim-shadow 0.3s forwards;
  }

}

// submit

.form-submit {
  @extend %button;
  @extend %button--submit;
}


// checkbox

.form-radio,
.form-checkbox {
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  background: $white;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin: 0 10px 0 0;
  z-index: 1000;

  &:hover {
    background: $orange2;
  }

  &:checked {
    background: $orange1;
  }

  &:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2713';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }

  &:checked::after {
    animation: click-wave 0.65s;
    background: $orange1;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }

}

.form-radio {
  border-radius: 50%;

  &:checked::before {
    content: '\25C9';
  }

  &::after {
    border-radius: 50%;
  }

}


.form-type-radio,
.form-type-checkbox {
  position: relative;

  .option {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0.65em 0.1em;
    width: auto;

    a {
      text-decoration: underline;
      color: $black;
    }

  }
}

