.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-check li {
  background: url(../images/icons/check01-blue.png) 0 4px no-repeat;
  line-height: 24px;
  padding: 0 0 0 22px;
  list-style: none;
}

%list--benefit,
.list--benefit {
  margin: 0;
}

%list--benefit__item,
.list--benefit__item {
  background: url(../images/plus.png) 0 2px no-repeat;
  padding-left: 25px;
  margin-bottom: 5px;
}

%list--benefit__amount,
.list--benefit__amount {
  font-weight: bold;
  font-size: 18px;
}

%list--benefit__label,
.list--benefit__label {
  font-size: 15px;
}

%list--check {

  li {
    @include icon-check($blue);
    line-height: 1.5;
  }

}

dl {
  margin: 20px 0;
  line-height: 1.5;
}

dt {
  font-weight: bold;

  a {
    color: $blue;
    text-decoration: underline;
  }

  h2 {
    color: $blue;
    font-size: 20px;
    line-height: 1.2em;
    padding-top: 3px;
    margin: 0;
  }

  &.first,
  &.second,
  &.third {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 30px;
  }

  &.first {
    background-image: url(../images/internet/number-1.png);
  }

  &.second {
    background-image: url(../images/internet/number-2.png);
  }

  &.third {
    background-image: url(../images/internet/number-3.png);
  }

}

dd p {
  margin: 0 0 20px;
}

.node-type-list dt {

  @include MQ($tab){
    float: left;
    width: 260px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.node-type-list dd {
  margin-left: 0;
  margin-bottom: 20px;
  @include clearfix;

  @include MQ($tab) {
    margin-left: 280px;
    padding-top: 2px;
  }

}