%attention {
  background-color: $lightestgray;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 30px;
  line-height: 1.5em;

  &:before {
    background-color: $blue;
    border-radius: 5px;
    color: white;
    content: "i";
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin: 0 6px 0 -25px;
    float: left;
    text-align: center;
    width: 18px;
  }

}

.block-boxes-warning {
  margin-bottom: 25px;
  padding: 20px;
  background: $blue;
  font-weight: bold;
  color: white;

  span {
    text-decoration: underline;
  }
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,0.85);
  width: 100%;
  text-align: center;
}

.overlay__table {
  display: table;
  height: 100%;
  width: 100%;    
}

.overlay__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.overlay__contentwrapper {
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.overlay__title {
  margin: 0 auto .5em;
}

.loadbar {
  height: 50px;
  background: $blue url(../images/bg-loader.gif) 0 0 no-repeat;
  margin: 10px auto;
  border: 5px solid white;
}

.overlay__text {
  margin: 0 auto;
  line-height: 1.2em;
}

.messages--error {
  background-image: none;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 30px;
  line-height: 1.5;

  &:before {
    background-color: #ed541d;
    border-radius: 5px;
    color: white;
    content: "x";
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin: 0 6px 0 -25px;
    float: left;
    text-align: center;
    width: 18px;
  }
}
