// SELECT

select {
  max-width: 100%;
}

//create a width to where chosen can stretch to
.form-type-select {
  max-width: 400px;
}

// remove the internal dotted lines in firefox
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.selector {
  width: 100%;
  cursor: pointer;
  position: relative;
  line-height: 30px;
  background-clip: padding-box;
  background-color: $white;
  display:inline-block;
  height: 40px;
  border-radius: 0;

  @include icon-down($black);

  &:before {
    right: 16px;
  }

  &:after {
    right: 22px;
  } 

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  }

  &:active {

    &:before {
      background-position: -75px -193px;
    }
  }

// removes the default arrow in ie10 +11
  select::-ms-expand {
    display: none;
  }

  select {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    z-index: 4;
    font-family: $serif-font;
    font-size: 16px;
    position: relative;
    display: block;
    border-radius: 3px;
    padding: 5px 40px 5px 16px;
    background: transparent;
    line-height: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
  }
}

.lt-ie10 {
  .selector:before {
      display:none;
  }

  select {
    padding: .4em;
  }
}
