.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: white;
  overflow-x: auto;
  width: 100%;
  font-size: 14px;

  @include MQ($tab){
    display: table;
  }

  thead {
    display: none;

    @include MQ($tab){
      display: table-header-group;
    }

  }

  tr:nth-child(2n){
    background: $grey1;

    @include MQ($tab) {
      background-color: white;
    }
  }
  
  th {
    text-align: left;
    font-weight: bold;
    padding: 20px 10px;
    font-size: 16px;
    vertical-align: bottom;

    @include MQ($desk) {
      padding: 20px;
    }

  }

  // default styling for tables
  td {
    padding: 2px 10px 2px 0;
    position: relative;
    line-height: 35px;
    display: block;
    width: 100%;
    position: relative;
    vertical-align: middle;
    padding-left: 50%;

    &:before {
     position: absolute;
     width: 45%;
     font-weight: bold;
     padding: 2px 10px 2px 0;
     left: 10px;
     white-space: nowrap;
     content: attr(data-title);
    }
    
    @include MQ($tab) {
      padding: 5px 10px;
      width: auto;
      display: table-cell;

      &:before {
        display: none;
      }
    }

    @include MQ($desk) {
      padding: 5px 20px;
    }

  }


}