@mixin page-title {
  color: $black;
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 700;
}

%page-title {
  @include page-title;
}


@mixin section-title {
  background-color: $grey2;
  line-height: 2;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: $serif-font;
  font-weight: normal;
  font-size: 1em;
}

%section-title {
  @include section-title;
}

%section-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin: 15px 0;
  padding-right: 0;
  font-weight: bold;
  display: block;
}
