@mixin icon-plus($color) {
	position: relative;
	padding-left: 20px;

	&:before {
		position: absolute;
		top: 1px;
		left: 5px;
		width: 3px;
		height: 13px;
		content: '';
		transition: .3s;
		background-color: $color;
	}

	&:after {
		position: absolute;
		top: 6px;
		left: 0;
		width: 13px;
		height: 3px;
		content: '';
		transition: .3s;
		background-color: $color;
	}

}

@mixin icon-next($color) {
	position: relative;
	padding-left: 20px;

	&:before {
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		top: 50%;
		margin-top: -5px;
		content: '';
		border-width: 5px 0 5px 7px;
		border-style: solid;
		border-color: transparent transparent transparent $color;
	}

}

@mixin icon-down($color) {
	position: relative;

	&:before {
		position: absolute;
		right: 0;
		display: block;
		width: 8px;
		height: 2px;
		content: '';
		transform: rotate(-45deg) translateY(-50%);
		background-color: $color;
		transition: transform .3s;
		top: 50%;
	}

	&:after {
		position: absolute;
		right: 6px;
		display: block;
		width: 8px;
		height: 2px;
		content: '';
		transform: rotate(45deg) translateY(-50%);
		transition: transform .3s;
		background-color: $color;
		top: 50%;
    bottom: auto;
	}

}

@mixin icon-up($color) {
	@include icon-down($color);

	&:before {
		transform: rotate(-135deg);
	}

	&:after {
		transform: rotate(135deg);
	}

}

@mixin icon-right($color) {
	position: relative;

	&:before,
  &:after {
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 2px;
    height: 8px;
    top: 3px;
    content: '';
    transition: .3s;
    background: $color;
  }

  &:before {
    transform: rotate(135deg);
  }

  &:after {
    transform: rotate(-135deg);
    top: 8px;
  }

}


// We can also make an icon-left mixin here


@mixin icon-check($color) {
	position: relative;
	padding-left: 25px;

	&:before {
		position: absolute;
		top: 7px;
		left: 3px;
		display: block;
		width: 15px;
		height: 3px;
		content: '';
		transform: rotate(-45deg);
		background-color: $color;
	}

	&:after {
		position: absolute;
		top: 8px;
		left: 0;
		display: block;
		width: 7px;
		height: 3px;
		content: '';
		transform: rotate(45deg);
		background-color: $color;
	}

}