@mixin section-break {

  &:after {
    width: 100%;
    height: 10px;
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    background: linear-gradient(to right, $deep-purple 0%, $deep-purple 5%,
      $pink 5%,$pink 15%,
      $bright-purple 15%, $bright-purple 35%,
      $pink 35%, $pink 45%,
      $orange1 45%, $orange1 54%,
      $orange2 54%, $orange2 78%,
      $orange1 78%, $orange1 88%,
      $bright-blue 88%, $bright-blue 100%
    );
  }

}

@mixin section-title {
  background-color: $grey2;
  line-height: 2;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: $serif-font;
  font-weight: normal;
  font-size: 1em;
}

%section-title {
  @include section-title;
}

%section-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin: 15px 0;
  padding-right: 0;
  font-weight: bold;
  display: block;
}


@keyframes anim-shadow {
  0% {box-shadow: 0px 0px 100px 20px rgba($orange2, 0.1);}
  50% {box-shadow: 0px 0px 0px 1px rgba($orange2, 0.5);}
  100% {box-shadow: 0px 0px 0px 2px $orange2;}
}

@keyframes anim-shadow-grey {
  0% {box-shadow: 0px 0px 100px 20px rgba($grey5, 0.1);}
  50% {box-shadow: 0px 0px 0px 1px rgba($grey5, 0.5);}
  100% {box-shadow: 0px 0px 0px 2px $grey5;}
}

@keyframes click-wave { 
  0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
  }
  
  100% {
    width: 200px;
    height: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }

}