@mixin section-break {

  &:after {
    width: 100%;
    height: 10px;
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    background: linear-gradient(to right, $deep-purple 0%, $deep-purple 5%,
      $pink 6%,$pink 15%,
      $bright-purple 15%, $bright-purple 35%,
      $pink 35%, $pink 45%,
      $orange1 45%, $orange1 54%,
      $orange2 54%, $orange2 78%,
      $orange1 78%, $orange1 88%,
      $bright-blue 88%, $bright-blue 100%
    );
  }

}