<div class="bean-complex-image-advertisement" about="/block/student" typeof="" style="background-image: url('example/homepage_ad-student-gracht-fiets.jpg');">
  <div class="content">
    <div class="promotion-title"><p><span style="color: rgb(0, 174, 239);">Ben</span>® student</p></div>
    <div class="promotions-content"><p>Nu de Benste studentendeals</p></div>
    <div class="promotions-link"><a href="https://shop-x-a.t-mobile.nl/student">Bestel nu</a></div>
  </div>
</div>