<div class="l-breadcrumbs">
  <div class="container">
    <ul>
      <li class="first"><a href="/telefoons">Home</a></li>
      <li><a href="#0">Campagnes</a></li>
      <li class="last">Lorem ipsum dolor sit amet</li>
    </ul>
  </div>
</div>