<div class="form-item form-type-textfield">
  <label class="form__label" for="">
    Label for a required field
    <span class="form-required" title="This field is required.">*</span>
  </label>

  <input class="form-text" type="text" value="" name="form-text-input-demo">

  <div class="description"> Zoals vermeld in je legitimatie </div>

</div>
