<div class="form-item form-type-checkbox">

  <div class="form-checkboxes">

    <div class="form-item form-type-checkbox">
      <input class="form-checkbox" type="checkbox" value="1" name="form-checkbox-input-demo">
      <label class="option">Ik heb al een lopend abonnement bij Ben en wil verlengen </label>
    </div>

  </div>

</div>
