<div class="form-item form-type-radios">
  <label class="form__label" for="">
    Label for a required field
    <span class="form-required" title="This field is required.">*</span>
  </label>

  <div class="form-radios">

    <div class="form-item form-type-radio">
      <input class="form-radio" type="radio" value="Mr." name="form-radio-input-demo" checked="checked">
      <label class="option">De heer</label>
    </div>

    <div class="form-item form-type-radio">
      <input class="form-radio" type="radio" value="Ms." name="form-radio-input-demo">
      <label class="option">Mevrouw</label>
    </div>

  </div>

</div>
