<div class="l-breadcrumbs">
  <ul>
    <li class="first"><a href="/telefoons">Home</a> /</li>
    <li><a href="#0">FAQ</a> /</li>
    <li class="phone-title last">Simkaart, Pin en Puk</li>
  </ul>
</div>