<div class="list-box list-box--plain">
  <h2 class="list-box__title"> List box title</h2>

  <div class="list-box__content">
    <ul class="list-box__list">
      <li class="list-box__list-item"><a href="#0">Algemene informatie, voorwaarden en tarieven</a></li>
      <li class="list-box__list-item"><a href="#0" class="active">Bestellen</a></li>
      <li class="list-box__list-item"><a href="#0">Bezorgen</a></li>
      <li class="list-box__list-item"><a href="#0">Nummerbehoud</a></li>
      <li class="list-box__list-item"><a href="#0">Over Ben</a></li>
      <li class="list-box__list-item"><a href="#0">Ben Vriendenvoordeel</a></li>
    </ul>
  </div>

  <div class="list-box__readmore">
    <a href="#0" class="list-box__readmorelink">Bekijk ze allemaal</a>
  </div>

</div>