<div class="product-teaser">
  <header>
    <h2 class="product-teaser__title"> 
      <a href="#0">Microsoft Lumia 640 XL</a>
    </h2>
  </header>

  <a href="#0" class="product-teaser__image">
    <img src="example/product-teaser.png" alt="product name">
  </a>

  <div class="product-teaser__specifications">

    {{> list-benefit}}

    {{> price-label}}

  </div>

  <div class="pickup-variant">
    {{> color_radios}}

    <div class="product-teaser__read_more">
      <a class="button button--large" href="#0"> Info &amp; bestel</a>
    </div>

  </div>

</div>