<div class="panels-generic-content-sidebar-inside">

  <div class="panel-pane">

    <h2 class="pane-title"> Block title </h2>

    <h3>Storingen</h3>
    <ul>
      <li>Voor een overzicht van de storingen kun je terecht op <a href="#0"><strong>deze</strong></a> pagina.</li>
    </ul>
    <h3>Onderhoud</h3>
    <ul>
      <li>Voor een overzicht van de onderhoud kun je terecht op <a href="/sim-only#tarieven"><strong>deze</strong></a> pagina.</li>
    </ul>   

  </div>

</div>