<div class="panel-panel panels-generic-content-top-sidebar-inside" style="top: 0px;">
  <div class="panel-pane pane-block pane-tmobile-cart-tmobile-cart">
    <h2 class="pane-title">Je bestelling</h2>
    <div class="cart-contents">
      <div class="view view-tmobile-shopping-cart-block view-id-tmobile_shopping_cart_block view-display-id-default view-dom-id-a83cd89511959e5005e357644a567843">
        <div class="view-content">
          <div class="boxtype-content cart-phone">
            <table class="cart-table basket-monthly">
              <thead>
                <tr><th colspan="2">Maandelijks 24 maanden</th></tr>
              </thead>
              <tbody>
                <tr class="toggle-highlight hidden">
                  <td colspan="2">Abonnement</td>
                </tr>
                <tr class="toggle-highlight hidden">
                  <td colspan="2">
                    <ul class="list-plus is-bluetheme">
                      <li>100 min/sms</li>
                      <li>1000 MB 3G</li>
                    </ul>
                  </td>
                </tr>
                <tr class="hidden">
                  <td>Toestelbetaling</td>
                  <td class="alignRight">8,00</td>
                </tr>
                <tr class="hidden">
                  <td>Pakketkorting</td>
                  <td class="alignRight">-5,50</td>
                </tr>
                <tr class="spacer hidden">
                  <td colspan="2"></td>
                </tr>
                <tr class="toggle-highlight total">
                  <td>Totaal per maand</td>
                  <td class="alignRight">15,00</td>
                </tr>
              </tbody>
            </table>
            <p class="footnote">Na 24 maanden 17,50 per maand</p>
            <table class="cart-table basket-onetime">
              <thead>
                <tr>
                  <th colspan="2">Eenmalig bij bestelling</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hidden">
                  <td>Totale toestelbetaling 24 maanden x € 8,00</td>
                  <td>192,00</td>
                </tr>
                <tr class="hidden">
                  <td>Thuiskopieheffing<span class="is-small superscript">(Op eerste factuur)</span></td>
                  <td class="alignRight">4,24</td>
                </tr>
                <tr class="hidden">
                  <td>Aansluitkosten<span class="is-small superscript">(Op eerste factuur)</span></td>
                  <td class="alignRight">14,95</td>
                </tr>
                <tr class="spacer hidden">
                  <td colspan="2"></td>
                </tr>
                <tr class="toggle-highlight total">
                  <td>Totaal eenmalig</td>
                  <td class="alignRight">19,19</td>
                </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="2">
                  <a href="#basket-details" title="Toon de prijs details in de winkelwagen." class="button basket-details show">Toon prijs details</a>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="view-footer">
          <div class="line-item-summary">
            <ul class="links links--inline">
              <li class="line-item-summary-checkout first last"><a href="/checkout" rel="nofollow">Nu bestellen</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>