<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/KBW2015.jpg" alt="campaign title" />
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser3.jpg)">
    <h2 class="teaser--campaign__title">Kinderboekenweek</h2>
    <div class="teaser--campaign__status">live</div>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">1 januari t/m 31 december 2016</div>

    <p class="teaser--campaign__summary">De Kinderboekenweek was nog nooit zo spannend. Ook klaar voor het avontuur?</p>

  </div>

</a>
