<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/KBW2015.jpg" alt="campaign title" /> 
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser1.jpg)">
    <h2 class="teaser--campaign__title">De kinderboekenweek</h2>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">30 oktober t/m 1 december</div>

    <p class="teaser--campaign__summary">De Kinderboekenweek was nog nooit zo spannend. Ook klaar voor het avontuur?</p>

  </div>

</a>