<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/KBW2015.jpg" alt="campaign title" />
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser5.jpg)">
    <h2 class="teaser--campaign__title">Poëzieweek</h2>
    <div class="teaser--campaign__status">live</div>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">28 januari t/m 3 februari 2016</div>

    <p class="teaser--campaign__summary">Onder het motto 'Jaren die druppelend versmelten' staat de Poëzieweek in 2016 in het thema van herinneringen.</p>

  </div>

</a>
