  <div class="teaser-block--social teaser-block--facebook">
  
    <div class="teaser-block--social__profile">
      <div class="profile-username">Stichting CPNB</div>
    </div>

    <div class="teaser-block--social__post">
      <div class="post-type"> Laatste post</div>

      <div class="post-author">Stichting CPNB</div>
      <div class="post-username">6 Oktober om 11:33</div>

      <p class="post-content">Bette Westera ontving op het Kinderboekenbal de Gouden Griffel voor haar poëziebundel 'Doodgewoon'. http://www.kinderboekenweek.nl/...</p>

      <a class="teaser--readmore" href="#0">Ga naar CPNB facebookpagina</a>
    </div>

  </div>
