<a href="#0" class="teaser--partner">

  <div class="teaser--partner__image" style="background-image: url(example/partner-logo.svg)">
    <b class="teaser--partner__readmore">Lees meer</b>
  </div>

  <div class="teaser--partner__content">
     <h2 class="teaser--partner__name">Openbare Bibliotheek Enschede</h2>
    <div class="teaser--partner__type">Bibliotheek
      <div class="teaser--partner__address">P.C. Hoofdplein 12, 7512 GG, Enschede</div>
    </div>
 

  </div>

</a>
