<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/KBW2015.jpg" alt="campaign title" />
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser3.jpg)">
    <h2 class="teaser--campaign__title">De Nationale Voorleesdagen</h2>
    <div class="teaser--campaign__status">live</div>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">27 januari t/m 6 februari 2016</div>

    <p class="teaser--campaign__summary">Doelstelling van deze jaarlijkse campagne is het stimuleren van voorlezen aan kinderen die zelf nog niet kunnen lezen. De doelgroep zijn ouders van kinderen tussen ½ en 6 jaar.</p>

  </div>

</a>
