<article class="idea media">
  <div class="idea__avatar media__figure">
    <img src="example/avatar.png">
  </div>
  <div class="media__body">
    <div class="idea__like">
      <div class="idea__like-counter">55</div>
      <button class="button button--grey idea__like-button">Like</button>
    </div>
    <div class="idea__head">
      <div class="idea__author">Sean Connery</div>
      <div class="idea__published">2 January 2015</div>
    </div>
    <div class="idea__body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    </div>
  </div>
</article>