<article class="idea idea__comment media">
  <div class="idea__avatar media__figure">
    <a href="#0"><img src="example/avatar.png"></a>
  </div>
  <div class="media__body">
    <div class="idea__head">
      <a href="#0" class="idea__author">Tom Hanks</a>
      <div class="idea__published">4 January 2015</div>
    </div>
    <div class="idea__body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    </div>
  </div>
</article>