<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/nl-leest.png" alt="campaign title" />
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser4.jpg)">
    <h2 class="teaser--campaign__title">Maand van de spiritualiteit</h2>
    <div class="teaser--campaign__status">live</div>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">1 januari t/m 31 december 2016</div>

    <p class="teaser--campaign__summary">Etiam porta sem malesuada magna mollis euismod.</p>

  </div>

</a>
