<a href="#0" class="teaser--document">

  <div class="teaser--document__image" style="background-image: url(example/document-icon.svg)">
    <b class="teaser--document__readmore">Lees meer</b>
  </div>

  <div class="teaser--document__content">
     <h2 class="teaser--document__name">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h2>
    <div class="teaser--document__type">PDF (5.15MB)
    </div>
 

  </div>

</a>