<a href="#0" class="teaser--campaign">

  <div class="teaser--campaign__logo">
    <img src="/example/nl-leest.png" alt="campaign title" />
  </div>

  <div class="teaser--campaign__image" style="background-image: url(example/campaign-teaser2.jpg)">
    <h2 class="teaser--campaign__title">NS Publieksprijs</h2>
    <div class="teaser--campaign__status">live</div>
    <b class="teaser--campaign__readmore">Lees meer</b>
  </div>

  <div class="teaser--campaign__content">
    <div class="teaser--campaign__period">15 mei t/m 31 juni 2016</div>

    <p class="teaser--campaign__summary">Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.</p>

  </div>

</a>
