<a href="#0" class="teaser--news">

  <div class="teaser--news__image" style="background-image: url(example/news2.jpg)">
    <b class="teaser--news__readmore">Lees meer</b>
  </div>

  <div class="teaser--news__content">
    <div class="teaser--news__date">4 januari 2016</div>
    <h2 class="teaser--news__title">Een ode aan het boek</h2>

  </div>

</a>
