<a href="http://www.jeugdboekenweek.be" class="teaser--event">

  <div class="teaser--event__content">
    <div class="teaser--event__date">5 maart t/m 19 maart 2016 </div>
    <div class="teaser--event__location">De Coninckplein 25, 2060 Antwerpen 6</div>
    <h2 class="teaser--event__title">Jeugdboekenweek</h2>
    <p class="teaser--event__intro">Kom luisteren naar de mooiste, grappigste en spannendste verhalen in Antwerpse bibliotheken.</p>
  </div>

</a>
