<a href="#0" class="teaser--news">

  <div class="teaser--news__image">
    <img src="example/news-teaser1.jpg" alt="news title" /> 
    <b class="teaser--news__readmore">Lees meer</b>
  </div>

  <div class="teaser--news__content">
    <div class="teaser--news__date">10 jan 2016</div>
    <h2 class="teaser--news__title">Lloyd Koopman (13) en Romy van Dongen (17) winnen schrijfwedstrijd Talent voor Taal 2015</h2>

  </div>

</a>
