<a href="#0" class="teaser--event">

  <div class="teaser--event__image">
    <img src="example/event-teaser1.jpg" alt="event title" /> 
    <b class="teaser--event__readmore">Lees meer</b>
  </div>

  <div class="teaser--event__content">
    <div class="teaser--event__date">28 Januari 2016  |  18:00 - 21:00 <br />
Herengracht 166, 1016 BP Amsterdam</div>
    <h2 class="teaser--event__title">Vers voor de pers: Dé ontmoetingplek voor pers en professionals</h2>

  </div>

</a>
