<a href="#0" class="teaser--participant">

  <div class="teaser--participant__image" style="background-image: url(example/participant-logo.svg)">
    <b class="teaser--participant__readmore">Lees meer</b>
  </div>

  <div class="teaser--participant__content">
     <h2 class="teaser--participant__name">Openbare Bibliotheek Enschede</h2>
    <div class="teaser--participant__type">Bibliotheek
      <div class="teaser--participant__address">P.C. Hoofdplein 12, 7512 GG, Enschede</div>
    </div>
 

  </div>

</a>
