  <div class="teaser-block--social teaser-block--twitter">
  
    <div class="teaser-block--social__profile">
      <div class="profile-username">@CPNB</div>
    </div>

    <div class="teaser-block--social__post">
      <div class="post-type"> Laatste tweet</div>

      <div class="post-author">Stichting CPNB</div>
      <div class="post-username">@CPNB Oct 21</div>

      <p class="post-content">Genomineerde boeken NS Publieksprijs 2015 bekend! http://web.cpnb.nl/actueelbericht.vm?ab=687 … #NSPP2015</p>

      <a class="teaser--readmore" href="#0">Ga naar CPNB Twitterpagina</a>
    </div>

  </div>

