<a href="#0" class="teaser--event">

  <div class="teaser--event__image" style="background-image: url(example/event.png)">
    <b class="teaser--event__readmore">Lees meer</b>
  </div>

  <div class="teaser--event__content">
    <div class="teaser--event__date">9 februari 2016  |  20:00 - 23:30 <br />
Stadsschouwburg Amsterdam, Leidseplein 26</div>
    <h2 class="teaser--event__title">Benefiet 9 februari</h2>

  </div>

</a>
