<a href="#0" class="teaser--vacancy">

  <div class="teaser--vacancy__image" style="background-image: url(example/vacancy-image.jpg)">
    <b class="teaser--vacancy__readmore">Lees meer</b>
  </div>

  <div class="teaser--vacancy__content">
     <h2 class="teaser--vacancy__name">Accountmanager campagnes (36u)</h2>
    <div class="teaser--vacancy__type">Marketing &amp; sales</div>
  </div>

</a>
