<a href="#0" class="teaser--insight">
  <div class="teaser--insight__content">
    <div class="teaser--insight__date">28 Januari 2016</div>
    <h2 class="teaser--insight__title">Waarom Amerikanen meer boeken lezen in de zomer</h2>
    <b class="teaser--insight__readmore">Lees meer</b>
  </div>
</a>
