<div class="view-content">
  <h2 class="element-invisible">Vertical Tabs</h2>
  <div class="vertical-tabs-panes">

    <fieldset class="views-row views-row-1 views-row-odd views-row-first form-wrapper" id="faq-nodes-customer-service-pane-0">
      <legend><span class="fieldset-legend">1</span></legend>
      <div class="fieldset-wrapper">  
        <div class="views-field views-field-field-picture">
          <div class="field-content">
            <img typeof="foaf:Image" src="example/page02.png" width="21" height="30" alt="" />
          </div>
        </div>  
        <div class="views-field views-field-field-teaser-title-1">  
          <div class="field-content">Bekijk je (eerste) factuur</div> 
        </div>  
        <div class="views-field views-field-field-teaser-body">
          <div class="field-content">De Ben bundels starten op de eerste van elke maand. Je betaalt als nieuwe klant voor de resterende dagen van deze eerste maand. Login op Ik Ben voor je laatste factuur.</div>
        </div>  
        <div class="views-field views-field-nothing">
          <span class="field-content"><a href="/klantenservice/factuur-en-betalen#faq_nodes-faq_node_pane-node-29">Bekijk je (eerste) factuur</a></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="views-row views-row-2 views-row-even form-wrapper" id="faq-nodes-customer-service-pane-1">
      <legend><span class="fieldset-legend">2</span></legend>
      <div class="fieldset-wrapper">  
        <div class="views-field views-field-field-picture">
          <div class="field-content">
            <img typeof="foaf:Image" src="example/euro02.png" width="16" height="19" alt="" />
          </div>
        </div>  
        <div class="views-field views-field-field-teaser-title-1">
          <div class="field-content">Wanneer kan ik verlengen?</div>
        </div>  
        <div class="views-field views-field-field-teaser-body">
          <div class="field-content">Met een maand abonnement kun je ieder moment verlengen. Heb je een 24 maanden abonnement, dan kun je 3 maanden voor het einde van je abonnement verlengen.</div>
        </div>  
        <div class="views-field views-field-nothing">
          <span class="field-content"><a href="/klantenservice/verlengen#faq_nodes-faq_node_pane-node-437">Wanneer kan ik verlengen?</a></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="views-row views-row-3 views-row-odd form-wrapper" id="faq-nodes-customer-service-pane-2">
      <legend><span class="fieldset-legend">3</span></legend>
      <div class="fieldset-wrapper">  
        <div class="views-field views-field-field-picture">
          <div class="field-content">
            <img typeof="foaf:Image" src="example/euro02.png" width="16" height="19" alt="" />
          </div>
        </div>  
        <div class="views-field views-field-field-teaser-title-1">
          <div class="field-content">Bankrekeningnummer wijzigen?</div>
        </div>  
        <div class="views-field views-field-field-teaser-body">
          <div class="field-content">Om je bankrekeningnummer te wijzigen, kun je contact opnemen met de klantenservice via 0900-0401405 (0,35 per gesprek).</div>
        </div>  
        <div class="views-field views-field-nothing">
          <span class="field-content"><a href="/klantenservice/wijzigen#faq_nodes-faq_node_pane-node-461">Bankrekeningnummer wijzigen?</a></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="views-row views-row-4 views-row-even form-wrapper" id="faq-nodes-customer-service-pane-3">
      <legend><span class="fieldset-legend">4</span></legend>
      <div class="fieldset-wrapper">  
        <div class="views-field views-field-field-picture">
          <div class="field-content">
            <img typeof="foaf:Image" src="example/phone05.png" width="18" height="30" alt="" />
          </div>
        </div>  
        <div class="views-field views-field-field-teaser-title-1">
          <div class="field-content">Wat te doen bij diefstal?</div>
        </div>  
        <div class="views-field views-field-field-teaser-body">
          <div class="field-content">Als je je simkaart of mobiele telefoon bent verloren of als je mobiele telefoon is gestolen, kun je het beste je simkaart laten blokkeren. Op die manier kan niemand anders op jouw kosten bellen, sms’en of internetten.</div>
        </div>  
        <div class="views-field views-field-nothing">
          <span class="field-content"><a href="/klantenservice/verlies-en-diefstal#faq_nodes-faq_node_pane-node-347">Wat te doen bij diefstal?</a></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="views-row views-row-5 views-row-odd views-row-last form-wrapper" id="faq-nodes-customer-service-pane-4">
      <legend><span class="fieldset-legend">5</span></legend>
      <div class="fieldset-wrapper">  
        <div class="views-field views-field-field-picture">
          <div class="field-content">
            <img typeof="foaf:Image" src="example/shoppingcart01.png" width="30" height="23" alt="" />
          </div>
        </div>  
        <div class="views-field views-field-field-teaser-title-1">
          <div class="field-content">Ik ben mijn wachtwoord voor Ik Ben vergeten. Wat nu?</div>
        </div>  
        <div class="views-field views-field-field-teaser-body">
          <div class="field-content">Wanneer je het wachtwoord voor Ik Ben bent vergeten, dan kun een nieuw wachtwoord opvragen. Je ontvangt vervolgens een e-mail met instructies en een link. Via deze link kun je een nieuw wachtwoord aanmaken.</div>
        </div>  
        <div class="views-field views-field-nothing">
          <span class="field-content"><a href="/klantenservice/nummerbehoud#faq_nodes-faq_node_pane-node-182">Ik ben mijn wachtwoord voor Ik Ben vergeten. Wat nu?</a></span>
        </div>
      </div>
    </fieldset>
  
  </div>
</div>
  