<div class="action-bar">

  <div class="container">

      <div class="share-page">
        <label class="share-page__label">Deel deze pagina</label>
        <a href="#0" class="icon-button icon-share icon-mail">Twitter</a>
        <a href="#0" class="icon-button icon-share icon-facebook">Facebook</a>
        <a href="#0" class="icon-button icon-share icon-twitter">Twitter</a>
        <a href="#0" class="icon-button icon-share icon-linkedin">Linkedin</a>
        <a href="#0" class="icon-button icon-share icon-whatsapp">Whatsapp</a>
        <a href="#0" class="icon-button icon-share icon-print">Print</a>
      </div>




  </div>

</div>