<div class="panel-pane pane-block pane-tmobile-selfcare-dashboard-infographics">
  
  <div class="ud1-user-message">
    Hi Jan Jansen, welkom op je persoonlijke Ik Ben pagina</div>
  <div class="ud1-infographic">
    <h2>Belstatus</h2>
    <div class="last-updated-info">bijgewerkt op 01-09-2015 13:45<button class="bundle-refresh">Refresh </button></div>
  </div>

  <div class="circle-wrapper-one">
    <div id="circle1" class="dashboard-circle">
      <div class="icon"><img src="http://ben.dev/sites/all/modules/custom/tmobile_selfcare/images/call-sms.png" /></div>
      <div class="counter"><strong class="counter__val"></strong></div>
      <div class="border-counter"></div>
      <div class="info"><p>0 van 174 min/sms verbruikt</p></div>
    </div>
    <div id="circle2" class="dashboard-circle">
      <div class="icon"><img src="http://ben.dev/sites/all/modules/custom/tmobile_selfcare/images/data-blue.png" /></div>
      <div class="counter"><strong class="counter__val2"></strong></div>
      <div class="border-counter"></div>
      <div class="info"><p>0MB  van 871MB verbruikt</p></div>
    </div>
  </div>
  <div class="circle-wrapper-two">
    <div id="circle3" class="dashboard-circle">
      <div class="icon"><img src="http://ben.dev/sites/all/modules/custom/tmobile_selfcare/images/sms-grey.png" /></div>
      <div class="counter"><strong class="counter__val3"></strong></div>
      <div class="border-counter"></div>
      <div class="info inactive-text"><p>Extra SMS bundel niet actief</p></div>
    </div>
    <div id="circle4" class="dashboard-circle">
      <div class="icon"><img src="http://ben.dev/sites/all/modules/custom/tmobile_selfcare/images/calendar.png" /></div>
      <div class="counter"><strong class="counter__val4"></strong></div>
      <div class="border-counter"></div>
      <div class="info"><p>0 resterende dagen</p></div>
      <div class="billing-period">Factuurperiode:02-07 to 01-08</div>
      <div class="cost-bundle">Kosten buiten bundel: 0,00</div>
    </div>
  </div>

</div>