<footer class="l-footer" role="contentinfo">

  <div class="container">

    <!-- this is where newsletter should be included -->

      <div class="l-region l-region--footer-bottom block footer__menu">

          <div role="navigation" class="block block-menu">
              <h2 class="block__title element-invisible">Bottom Footer Menu</h2>

              <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#0">tel.: +31 (0) 20 - 626 49 71</a></li>
                  <li class="menu__item"><a class="menu__link" href="#0">Contact</a></li>
                  <li class="menu__item"><a class="menu__link" href="#0">Privacyverklaring</a></li>
                  <li class="menu__item"><a class="menu__link" href="#0">Cookiebeleid</a></li>
              </ul>
          </div>

          <div class="block block-block cpnb-copyright">
              <p>&copy; CPNB 2015 All rights reserved</p>
          </div>

      </div>
      
  </div>

</footer>