<footer class="l-footer" role="contentinfo">

  <div class="container">
  
    <div class="footer-top">
      <div class="l-region l-region--footer">
        
      </div>
    </div>

    <div class="l-region l-region--footer-bottom">
      <nav role="navigation" class="block block--menu block--menu-menu-bottom-footer">
        <h2 class="block__title element-invisible">Bottom Footer Menu</h2>
      
        <ul class="menu">
          <li class="first leaf"><a href="#0" title="">Privacyverklaring</a></li>
          <li class="leaf"><a href="#0" title="">Cookiebeleid</a></li>
        </ul>
      
      </nav>

      <div class="block block--tmobile-blocks block--tmobile-blocks-footer-copyright">
          <div class="block__content">&copy; CPNB 2015  </div>
      </div>


    </div>

  </div>

</footer>