<form class="user-login">

  <div class="form-item form-type-textfield form-item-name">
    <label for="edit-name">Gebruikersnaam <span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required">
  </div>

  <div class="form-item form-type-password form-item-pass">
    <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
    <input type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required">
    
  </div>

  
  <div class="form-actions form-wrapper" id="edit-actions">
    <input type="submit" id="edit-submit" name="op" value="Inloggen op Ik Ben" class="form-submit">
  </div>

  <ul class="pass-forgotten">
    <li><a href="/wachtwoord">Wachtwoord vergeten?</a></li>
    <li><a href="/user/request">Vraag een Ik Ben account aan</a></li>
  </ul>

</form>