<form class="commerce-add-to-cart">
  
  <div class="attribute-widgets">
    <div class="form-item form-type-commerce-fancy-attributes form-item-attributes-field-colour form-type-commerce-fancy-attributes-ajax">
      <label for="edit-attributes-field-colour--2">Beschikbare kleuren </label>
      <div id="edit-attributes-field-colour--2" class="form-radios selectedrow">
        
        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-attributes-field-colour-353--2" name="attributes[field_colour]" value="353" checked="checked" class="form-radio" style="display: none;">  
          <label class="option" for="edit-attributes-field-colour-353--2" style="display: none;">zwart </label>
          <div class="description">
            <div class="description-selected">
              <div class="field field--name-field-attrib-colour field--type-text field--label-hidden phone-color-tid-353">
                <div class="field__items">
                  <div class="field__item even">
                    <div title="zwart" style="background-color: black;" class="commerce-fancy-attributes-color">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-attributes-field-colour-371--2" name="attributes[field_colour]" value="371" class="form-radio" style="display: none;">  
          <label class="option" for="edit-attributes-field-colour-371--2" style="display: none;">wit </label>
          <div class="description">
            <div class="field field--name-field-attrib-colour field--type-text field--label-hidden phone-color-tid-371">
              <div class="field__items">
                <div class="field__item even">
                  <div title="wit" style="background-color: white;" class="commerce-fancy-attributes-color">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    
    </div>

    <div class="form-item form-type-radios form-item-attributes-field-call-and-sms">
      <label for="edit-attributes-field-call-and-sms--2">Je abonnement (24 maanden) </label>
      <div id="edit-attributes-field-call-and-sms--2" class="form-radios">

        <div class="attribute_wrapper kaas-wrapper selectedrow">
          <div class="form-item form-type-radio form-item-attributes-field-call-and-sms">
            <input type="radio" id="edit-attributes-field-call-and-sms-3177--2" name="attributes[field_call_and_sms]" value="3177" checked="checked">
            <label class="option" for="edit-attributes-field-call-and-sms-3177--2"><strong>100</strong> min/sms </label>
          </div>
          <span class="promotion_text"></span>
          <span class="price">4,00</span>
        </div>

        <div class="attribute_wrapper kaas-wrapper">
          <div class="form-item form-type-radio form-item-attributes-field-call-and-sms">
            <input type="radio" id="edit-attributes-field-call-and-sms-3171--2" name="attributes[field_call_and_sms]" value="3171">
            <label class="option" for="edit-attributes-field-call-and-sms-3171--2"><strong>300</strong> min/sms </label>
          </div>
          <span class="promotion_text"></span>
          <span class="is-mostchosen">Meest gekozen</span>
          <span class="price">5,50</span>
        </div>

        <div class="attribute_wrapper kaas-wrapper">
          <div class="form-item form-type-radio form-item-attributes-field-call-and-sms">
            <input type="radio" id="edit-attributes-field-call-and-sms-3180--2" name="attributes[field_call_and_sms]" value="3180">
            <label class="option" for="edit-attributes-field-call-and-sms-3180--2"><strong>onbeperkt</strong> min/sms </label>
          </div>
          <span class="promotion_text"></span>
          <span class="price">12,00</span>
        </div>

      </div>
    
    </div>


    <div class="form-item form-type-radios form-item-attributes-field-data-bundle">
      
      <label for="edit-attributes-field-data-bundle--2">Internetbundel
        <div class="ajax-class phone" data-target="helptext">Keuzehulp</div>
        <div class="close" data-target="helptext" style="display: none;">Keuzehulp sluiten</div>
        <div class="helptext_node tool_tip element-hidden" style="display: none;">
        </div>
      </label>

      <div id="edit-attributes-field-data-bundle--2" class="form-radios">

        <div class="attribute_wrapper kaas-wrapper selectedrow">
          <div class="form-item form-type-radio form-item-attributes-field-data-bundle">
            <input type="radio" id="edit-attributes-field-data-bundle-3174--2" name="attributes[field_data_bundle]" value="3174" checked="checked">
              <label class="option" for="edit-attributes-field-data-bundle-3174--2"><strong>1000</strong> MB 3G </label>
          </div>
          <span class="promotion_text"></span>
          <span class="is-mostchosen">Meest gekozen</span>
          <span class="price">8,50</span>
        </div>

        <div class="attribute_wrapper kaas-wrapper">
          <div class="form-item form-type-radio form-item-attributes-field-data-bundle">
            <input type="radio" id="edit-attributes-field-data-bundle-3193--2" name="attributes[field_data_bundle]" value="3193">  <label class="option" for="edit-attributes-field-data-bundle-3193--2"><strong>1500</strong> MB 4G </label>

          </div>
          <span class="promotion_text"></span>
          <span class="price">14,00</span>
        </div>

        <div class="attribute_wrapper kaas-wrapper">
          <div class="form-item form-type-radio form-item-attributes-field-data-bundle">
            <input type="radio" id="edit-attributes-field-data-bundle-3186--2" name="attributes[field_data_bundle]" value="3186">
            <label class="option" for="edit-attributes-field-data-bundle-3186--2"><strong>2500</strong> MB 4G </label>
          </div>
          <span class="promotion_text">4G-internet | 25 Mbps</span>
          <span class="price">17,00</span>
        </div>

      </div>

    </div>

    <div class="form-item form-type-radios form-item-attributes-field-extra-bundle">
      
      <label for="edit-attributes-field-extra-bundle">Extra bundels </label>
      
      <div id="edit-attributes-field-extra-bundle" class="form-radios extra_bundle on_off">

        <div class="attribute_wrapper kaas-wrapper">
          <div class="form-item form-type-radio form-item-attributes-field-extra-bundle">
            <input class="extra_bundle" type="radio" id="edit-attributes-field-extra-bundle-171617" name="attributes[field_extra_bundle]" value="171617">
            <label class="option" for="edit-attributes-field-extra-bundle-171617"><strong>1000</strong> SMS </label>
          </div>
          <span class="promotion_text"></span>
          <span class="price">3,50</span>
        </div>

      </div>

    </div>

  </div>

</form>