<div class="l-region--header">

  <div class="container">

    <div role="search" class="block block--search block--search-form">
      <div class="block__content">
        <form class="search-block-form" action="/" method="post" accept-charset="UTF-8">
          <h2 class="element-invisible">Search form</h2>
          <div class="form-item form-type-textfield form-item-search-block-form">
            <label class="element-invisible" for="edit-search-block-form--2">Zoeken </label>
            <input title="Vul hier je zoekterm(en) in en klik rechts op de loep om te zoeken. " placeholder="Wat zoek je?" type="text" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
          </div>
          <div class="form-actions form-wrapper">
            <input type="submit" name="op" value="Zoeken" class="form-submit" />
          </div>
        </form>
      </div>

    </div>

    <nav role="navigation" class="block--system-main-menu">
   
      <h2 class="element-invisible">Main menu</h2>

      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#0">Over ons</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Nieuws</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Activiteiten</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Media</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Vacatures</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Contact</a></li>
      </ul>

    </nav>

    <nav role="navigation" class="block--system-user-menu">
   
      <h2 class="element-invisible">User menu</h2>

      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#0">Mijn CPNB (3)</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Campagnes (2)</a></li>
        <li class="menu__item"><a class="menu__link" href="#0">Uitloggen</a></li>
      </ul>

    </nav>

   </div>

</div>

<header class="l-header" role="banner">
  
  <div class="container clearfix">
    
    <div class="site-name">
      <a href="/" class="logo" title="Home" rel="home">CPNB</a>
    </div>

    <nav role="navigation" class="block--thema-menu">
      <h2 class="element-invisible">Thema menu</h2>

      {{> nav}}
    </nav>
    <a href="#0" class="desktop-search-btn desktop-search-btn--open">Zoeken</a>

    <a href="#0" class="shoppingcart">
      <div class="shoppingcart_no">
        <span>12</span>
      </div>
      <div class="shoppingcart_amount">
        <div>items</div>
        <div>&euro; 147,50</div>
      </div>
    </a>

    <a href="#0" class="mobile-nav-btn">
      <span class="menu-icon" aria-hidden="true"></span>
      <span class="menu-text">Menu</span>
    </a>
    
  </div>

</header>