<section class="hero hero--campaign" style="background-image: url(/example/hero-in-color.jpg);">

  <div class="container">

    <div class="hero__content">
      <a href="#0" class="hero--campaign__logo">
        <img src="example/KBW2015.jpg" alt="">
      </a>
     
      <h1 class="hero__title">De Kinder boekenweek 2016</h1>

      <p>Periode 1 t/m 30 november 2016</p>
      
      <span class="status status-live">live</span>
    </div>

  </div>


</section>