<section class="hero hero--campaign" style="background-image: url(/example/hero-example.jpg);">

  <div class="container">

    <div class="hero--campaign__content">
      <div class="hero--campaign__logo">
        <img src="/example/campaign-teaser-logo1.png" alt="campaign title" /> 
      </div>
      <p>Periode 1 t/m 30 november 2016</p>
      <h1 class="hero__title--campaign">
      De Kinder boekenweek 2016
      </h1>
      <b>Live</b>
    </div>

  </div>

  {{> section-divider-plain}}

</section>