<section class="hero" style="background-image: url(example/hero-example.jpg);">

  <div class="container">

    <div class="hero__content">
      <h1 class="hero__title">
        <span>Er zit een</span><br />
        <span>lezer in</span><br />
        <span>iedereen</span>
      </h1>

      <p>we zorgen ervoor dat hun ogen ook jouw verhalen vinden en ontdekken wat een boek kan doen</p>

      <b class="hero__readmore"> <span> </span> ontdek hier hoe we u al 85 jaar helpen lezers te vinden en te activeren </b>

    </div>

  </div>

</section>