<section class="hero hero--campaign" style="background-image: url(/example/campaign-hero.png);">

  <div class="container">

    <div class="hero__content">
      <a href="#0" class="hero--campaign__logo">
        <img src="example/jaarvanhetboek.svg" alt="">
      </a>
     
      <h1 class="hero__title">2016 Jaar van het boek</h1>
      <div class="status">live</div>      
      <p>Periode 1 januari t/m 31 december 2016</p>
      
    </div>

  </div>


</section>