<section class="hero hero--campaign" style="background-image: url(/example/campaign-hero.png);">

  <div class="container">

    <div class="hero__content">
      
      <div class="hero--campaign__logo">
        <img src="example/jaarvanhetboek.svg" alt="">
      </div>

      <h1 class="hero__title"> 2016 Jaar van het boek</h1>
      <div class="status">live</div>      
      <p>Periode 1 januari t/m 31 december 2016</p>
     
      <div class="hero__buttons">
        <a href="#0" class="button button--purple button--view">Bekijk materialen</a>
        <button class="button button--pink button--follow">Volg campagne</button>
      </div>

    </div>

  </div>


</section>