<section class="hero hero--campaign" style="background-image: url(/example/hero-example.jpg);">

  <div class="container">

    <div class="hero__content">
      
      <div class="hero--campaign__logo">
        <img src="example/KBW2015.jpg" alt="">
      </div>

      <h1 class="hero__title"> Vivamus sagittis lacus vel dolor auctor</h1>
      
      <p>Periode 1 t/m 30 november 2016</p>
      
      <span class="status status-archived">archief</span>
      
      <div class="hero__buttons">
        <a href="#0" class="button button--purple button--view">Bekijk materialen</a>
        <button class="button button--pink button--follow">Volg campagne</button>
      </div>

    </div>

  </div>


</section>