<section class="hero" style="background-image: url(/example/contact-hero.png);">

  <div class="container">

    <div class="hero__content">
      <h1 class="hero__title">
        Nullam id dolor id nibh ultricies vehicula ut id elit
      </h1>

      <p>KvK: 41200029293<br />
      BTW-nr: NL 002957802 B01</p>

    </div>

  </div>


</section>