<div class="newsletter">
  <div class="newsletter__titlebox">
    <h3>Ontvang die fantastische CPNB Nieuwsbrief</h3>
  </div>

  <div class="newsletter__infobox">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  
    <div class="newsletter__form">
      <form class="newsletter__signup">
        <div class="form-item form-type-textfield form-item-email">
          <input type="text" placeholder="E-mail" id="edit-email" name="name" value="" size="60" maxlength="60" class="form-text required">
        </div>
         <div class="form-actions form-wrapper" id="edit-actions">
          <input type="submit" id="edit-submit" name="op" value="Sign up" class="form-submit">
        </div>
      </form>

    </div>

  </div>

  <div class="newsletter__socialmedia">
    <a href="#0" class="icon-button icon-twitter">Twitter</a>
    <a href="#0" class="icon-button icon-facebook">Facebook</a>
    <a href="#0" class="icon-button icon-flickr">Flickr</a>
    <a href="#0" class="icon-button icon-youtube">Youtube</a>
    <a href="#0" class="icon-button icon-linkedin">Linkedin</a>
  </div>

</div> 



