<div class="section-divider"> 

  <div class="section-divider__tagline">
    <span>Er zit een</span><br />
    <span>lezer in</span><br />
    <span>iedereen</span>
  </div>

  <b class="section-divider__readmore"> <span> </span> heb je een goed idee? </b>

</div>