<div class="section-divider section-divider-plain"> 

  <div class="section-divider__tagline">
    <span>Er zit een</span><br />
    <span>lezer in</span><br />
    <span>iedereen</span>
  </div>

</div>