<div class="color_radios">

  <form>

    <div class="form-item form-type-commerce-fancy-attributes form-item-attributes-field-colour">

        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-353" name="attributes[field_colour]" value="353" class="form-radio" style="display: none;" checked="checked">
          <label class="option" for="edit-353" style="display: none;">zwart</label>
          <div class="description description-selected">
            <div title="zwart" style="background-color: black;" class="commerce-fancy-attributes-color"> </div>
          </div>
        </div>

        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-354" name="attributes[field_colour]" value="354" class="form-radio" style="display: none;" checked="checked">
          <label class="option" for="edit-354" style="display: none;">zwart</label>
          <div class="description">
            <div title="wit" style="background-color: white;" class="commerce-fancy-attributes-color"> </div>
          </div>
        </div>

        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-355" name="attributes[field_colour]" value="355" class="form-radio" style="display: none;" checked="checked">
          <label class="option" for="edit-355" style="display: none;">goud</label>
          <div class="description">
            <div title="goud" style="background-color: #E0C983;" class="commerce-fancy-attributes-color"> </div>
          </div>
        </div>

        <div class="form-item form-type-radio form-item-attributes-field-colour">
          <input type="radio" id="edit-356" name="attributes[field_colour]" value="356" class="form-radio" style="display: none;" checked="checked">
          <label class="option" for="edit-356" style="display: none;">grijs</label>
          <div class="description">
            <div title="grijs" style="background-color: #434C53;" class="commerce-fancy-attributes-color"> </div>
          </div>
        </div>

    </div>

  </form>

</div>