<ul class="list--benefit">
  <li class="list--benefit__item"><span class="list--benefit__amount">100</span> <span class="list--benefit__label">min/sms</span> 
  <li class="list--benefit__item"><span class="list--benefit__amount">1000</span> <span class="list--benefit__label">MB 3G</span> 
</ul>