%breadcrumbs {
  @include element-hidden;

  @include MQ($tab){
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background-color: $grey4;
  }

  .with-hero & {
    @include MQ($tab){
      margin-top: 70px;
    }

    @include MQ($desk) {
      margin-top: 100px;
    }

  }

}

%breadcrumbs-ul {
  padding: 10px;
  font-size: 14px;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 4px;
    line-height: 1.5;
  }

  .last {
    font-weight: bold;
  }

  a {
    color: $black;
    @include icon-right($black);
    padding-right: 8px;

    &:before,
    &:after {
      width: 1px;
      height: 6px;
    }

    &:before {
      top: 5px;
    }

    &:hover {
      text-decoration: underline;
    }

  }

  @include MQ($desk){
    padding-left: 0;
  }

}

// --- Drupal selectors

.l-breadcrumbs {
  @extend %breadcrumbs;

  ul {
    @extend %breadcrumbs-ul;
  }
}