.form-element label {
  font-size: 1em;
  display: block;
  padding: .75em .15em .35em;
  position: relative;
}

.form-required {
  color: $orange1;
  font-size: 2em;
  position: absolute;
  line-height: 16px;
  top: 18px;
  margin-left: 5px;
}

.form-element {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;

  .description {
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    padding: 3px 10px;
    background-color: $grey3;
  }

  .field-prefix {
    line-height: 1.5;
    font-size: 14px;
    display: inline-block;
  }

  .form-item {
    margin-bottom: 0;
    position: relative;
    margin-top: 10px;
  }

  .error {
    border: 1px solid red;
  }

}

.form-type-select,
.form-type-password,
.form-type-textfield {
  max-width: 560px;
}

.form-type-radio {
  display: inline-block;
  margin-right: 10px;
}

@include MQ($tab) {

  .form-radios {
    display: inline-block;
  }

}
