.form-item label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.request-account-desc,
.form-type-item {
  margin-top: 1em;
  margin-bottom: 0.6em;
  line-height: 1.35em;
  font-size: 14px;
}

.form-item {
  margin-bottom: 14px;

  .description {
    line-height: 1.5;
    font-size: 13px;
    margin-top: 3px;
  }

  .field-prefix {
    line-height: 1.5;
    font-size: 14px;
    display: inline-block;
  }

  .form-item {
    margin-bottom: 0;
  }

  .error {
    border: 1px solid red;
  }

}

.form-type-radio {
  display: inline-block;
  margin-right: 10px;
}

@include MQ($tab) {

  .form-radios {
    display: inline-block;
  }

}

.form-item-pass {
  display: inline-block;
  position: relative;
  
  input {
    padding-right: 65px;  
  }
  
}

.form-item .password-toggle {
  position: absolute;
  top: 29px;
  right: 0;
  border-left: 1px solid $lightergray;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
  
  @include MQ($desk) {
    top: 32px;
  }

  input[type='checkbox'] {
    opacity: 1;
    position: static;
    margin-right: 4px;
  }

}


// change password 
.form-type-password div {
  font-size: 14px;
  line-height: 1.5;
}

.password-suggestions {
  display: none !important;
}

.password-strength {
  @extend %clearfix;
  margin: 10px 0;
}

.password-strength-text {
  float: left;
}

.password-strength-title {
  display: none;
}

.password-confirm-error .error {
  border: 0;
  font-weight: bold;
  color: #ff203a;
}

.password-indicator {
  background-color: $lightestgray;
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  width: 120px;
  height: 10px;

  .indicator {
    background-color: #ff203a;
    height: 100%;
  }

}

.password-confirm {
  margin: 10px 0;
}