%list-box,
.list-box {
  width: 100%;
  max-width: 300px;
}

%list-box__title,
.list-box__title {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 12px;
  font-weight: bold;
}

%list-box__icon,
.list-box__icon {
  float: left;
  padding: 4px 0 0;

  img {
    margin-right: 15px;
    height: 19px; 
    width: auto;
  }

}

%list-box__list,
.list-box__list {
  margin: 0;
}

%list-box__list-item__a,
.list-box__list-item a {
  margin: 10px 0;
  display: block;
  padding-left: 15px;
  font-size: 14px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    display: inline-block;
    left: 2px;
    width: 2px;
    height: 8px;
    top: 2px;
    content: '';
    background: $blue;
  }

  &:before {
    transform: rotate(135deg);
  }

  &:after {
    transform: rotate(-135deg);
    top: 7px;
  }

}

%list-box__list-item__a--active,
.list-box__list-item a.active {
  font-weight: bold;
  color: $blue;
}

.list-box__readmorelink {
  @extend %readmorelink;
}



// --- Drupal selectors ---

.view-faq-blocks {

  .views-field-field-picture {
    @extend %list-box__icon;
  }

  .views-field-name-1 {
    @extend %list-box__title;
  }

  .view-faq .views-row a {
    @extend %list-box__list-item__a;
  }

}

.section-ikben .pane-menu-block-3 {
  @extend %list-box;

  .pane-title {
    @extend %list-box__title;
  }

  .menu__link {
    @extend %list-box__list-item__a;

    &.active {
      @extend %list-box__list-item__a--active;
    }

  }

}


.section-faq-category .pane-siblingterms {

  .term-image-title {
    @extend %list-box__title;
  }
  
  .term-image {
    float: left;
    margin-right: 15px;
    height: 19px; 
    width: auto;
  }

  ul {
    @extend %list-box__list;
  }

  a {
    @extend %list-box__list-item__a;
  }

  .active {
    @extend %list-box__list-item__a--active;
  }
}