.menu {
  margin: 0; 
}

.block--thema-menu,
.block--system-main-menu,
.block--system-user-menu {
   
  // Global list item
  .menu__item {
    display: block;
    width: 100%;
    list-style: none;
  }

  // Global list link
  .menu__link {
    line-height: 44px;
    font-weight: bold;
    display: block;
    padding: 0 10px;
    color: white;

    &.active, &:focus, &:hover {
      color: white;
      text-decoration: none;
    }
    
  }

}

.block--system-user-menu .menu__link span {
  border-radius: 10px;
  background-color: white;
  padding: 2px;
  font-size: 12px;
  min-width: 1.4em;
  text-align: center;
  display: inline-block;
  vertical-align: text-top;
  color: $black;
  line-height: 1;
}

.block--thema-menu {
  @include MQ($tab) {
    padding-right: 180px;

    .menu {
      display: flex;
      justify-content: space-around;
    }

    .menu__item {
      width: auto;
      display: inline-block;
      border-right: 1px solid rgba(255,255,255,.2);
      flex: 1 0 auto;

      &:hover {
        background-color: rgba(0,0,0,.3);
      }

    }

    .menu__link {
      line-height: 70px;
      font-size: 13px;
      text-align: center;
    }

  }

  @include MQ($desk) {
    .menu__link {
      font-size: 1em;
    }    
  }

  @include MQ($plus) {
    padding-right: 220px;
  }

}

@include MQ($desk) {
  .block--system-main-menu,
  .block--system-user-menu {
    display: inline-block;
    
    .menu__item {
      display: inline-block;
      width: auto;
    }

    .menu__link {
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .block--system-main-menu {

    .menu__link {
      color: $bright-blue;

      &:hover {
        color: $bright-blue;
      }
    } 

  }

  .block--system-user-menu {
    background-color: rgba($black,.9);
  }

}