#one-off-payment-table-options {
	width: 100%;
	margin-top: 18px;
	text-align: right;
	background-color: transparent;

	th {
		font-weight: normal;
		padding-right: 10px;
		text-align: right;
		vertical-align: bottom;
		background-color: transparent;
		color: $black;
		font-size: 12px;

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			border-right: 1px solid $lightergray;
		}

		&:nth-child(4) {
			display: none;

			@include MQ($tab) {
				display: table-cell;
			}

		}

	}
	
	tr:nth-child(even) td {
		background-color: transparent;
	}

	.attribute_wrapper {
		border: 1px solid $lightergray;
		background-color: white;

		td {
			font-size: 16px;
			font-weight: bold;
			position: relative;
			height: 38px;
			padding: 5px 10px;
			border-right: 1px solid $lightergray;

			&.oneoff-option-field {
				border-right: none;
			}

		}

		&:hover,
		&.selectedrow {
			cursor: pointer;

			td {
				background-color: $blue;

				.price {
					color: $white;
				}

			}

		}

		&.selectedrow {
			.oneoff-option-field:before {
				background: url('../images/box-radio-blue.png') no-repeat -151px 0;
			}

			.bundle-notification {
				display: block;
				width: 100%;
				padding: 1em;
				border-right: 1px solid $lightergray;
				border-left: 1px solid $lightergray;
				background-color: $white;

				p {
					margin: 0;
				}

			}

		}

	}

	.oneoff-option-field {
		width: 5%;
		min-width: 35px;

		&:before {
			line-height: 38px;
			position: relative;
			top: 2px;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0;
			content: '';
			background: url('../images/box-radio-blue.png') no-repeat -109px 0;
		}

	}
	
	.price {
		color: $darkgray;
	}
		
	.price-oneoff {
		width: 20%;

		@include MQ($tab) {
			width: 15%;
		}
	
	}

	.price-device_price {
		width: 25%;

		@include MQ($tab) {
			width: 20%;
		}

	}

	.price_discount {
		display: none;

		@include MQ($tab) {
			display: table-cell;
			width: 20%;
		}

		.price {
			color: $normalgray;
		}

	}

	.price-per-month {
		width: 50%;

		@include MQ($tab) {
			width: 40%;
		}

		.price {
			font-size: 18px;
			color: $blue;
		}

	}

	.is-lowestprice {
		font-size: 12px;
		line-height: 20px;
		position: absolute;
		right: 86px;
		top: 6px;
		display: none;
		width: auto;
		padding: 2px 8px;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		background: $black;

		@include MQ($desk) {
			display: block;
		}

	}

}

.oneoff-payment-info h3 {
	padding-left: 40px;
	color: $blue;
	background-image: url(../images/icons/icon-one-off.png);
	background-repeat: no-repeat;
	background-position: left center;

	@include MQ($desk) {
		max-width: 55%;
	}

}