%product-teaser,
.product-teaser {
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 20px;

  @include MQ($tab){
    float: left;
    padding-left: 0;
    width: 50%;

    .no-flexbox & {
      min-height: 300px; // solve the floating issue
    }

    &:nth-child(2n+2) {
     padding-right: 0; 
     padding-left: 7px;
    }

  }

  @include MQ($desk) {
    width: 33%;
    padding-left: 7px;

    &:nth-child(2n+2) {
     padding-right: 7px; 
    }

    &:nth-child(3n+3) {
     padding-right: 0; 
    }

  }

}

%product-teaser__title,
.product-teaser__title {
  font-size: 1.375em;

  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
}

%product-teaser__image,
.product-teaser__image {
  display: inline-block;
  vertical-align: top;
  margin: 15px 15px 0 0;
  position: relative;

   img {
    width: 90px;
    height: auto;
   }
}

%product-teaser__specifications,
.product-teaser__specifications {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  min-height: 170px;

  .price-label {
    margin-top: 15px;
  }

  a:hover {
    text-decoration: none;
  }

}

%product-teaser--pickup-variant,
.pickup-variant {
  margin-top: 15px;

  .color_radios {
    width: 90px;
  }
}

%product-teaser__read_more,
.product-teaser__read_more {
  display: inline-block;
  vertical-align: top;
}



// --- Drupal Selectors ---
.pane-phone-announcements,
.view-phone-queues,
.view-phone-catalog {

  .views-row {
    @extend %product-teaser;
  }

  header h2 {
    @extend %product-teaser__title;
  }

  .product_image {
    @extend %product-teaser__image;
  }

  .product_specifications {
    @extend %product-teaser__specifications;
  }

  .call_sms,
  .data_bundle {
    @extend %list--benefit__item;
  }

  .read_more {
    @extend %product-teaser__read_more;
  }

}
