@include MQ($tab) {

  .no-flexbox .teaser-vacancy--wrapper {
    @include clearfix;
  }

}

.flexbox .teaser-vacancy--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.teaser--vacancy {
  display: inline-block;
  position: relative;
  background: white;
  margin-bottom: 20px;
  width: 300px;
  flex: 1 1 300px;
}


.flexbox .teaser-vacancy--wrapper {
  
  .teaser--vacancy {
    @include MQ(640px) {
      flex: 0 1 50%;
    } 

    @include MQ($tab) {
      flex: 0 1 (100%/3);
    } 

  }

}


.teaser--vacancy__image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $orange2;

   &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.5s;
  }

}

.teaser--vacancy__readmore {
  @include icon-right(white);
  position: absolute;
  font-size: 0;
  bottom: 40px;
  right: 30px;
  display: inline-block;
  z-index: 2;

  &:before {
    transform: scale(1.3) rotate(135deg);
  }
  &:after {
    transform: scale(1.3) rotate(-135deg);
  }

}

.teaser--vacancy__content {
  padding: 10px 30px 30px; 
}

.teaser--vacancy__type {
  font-size: 13px;
  line-height: 1.35;
  color: $black;
  margin-top: 15px;
}


.teaser--vacancy__name {
  line-height: 1.35;
  font-size: 18px;
  margin-top: 0;
}
