@include MQ($tab) {

  .no-flexbox .teaser-partner--wrapper {
    @include clearfix;
  }

}

.flexbox .teaser-partner--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.teaser--partner {
  display: inline-block;
  position: relative;
  background: white;
  margin-bottom: 20px;
  width: 300px;
  flex: 1 1 300px;
}

.flexbox .teaser-partner--wrapper {
  
  .teaser--partner {
    @include MQ(640px) {
      flex: 0 1 50%;
    } 

    @include MQ($tab) {
      flex: 0 1 (100%/3);
    } 

  }

}

.teaser--partner__image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $orange1;
}

.teaser--partner:nth-of-type(4n+1) .teaser--partner__image {
  background-color: $orange1;
}

.teaser--partner:nth-of-type(4n+2) .teaser--partner__image {
  background-color: $orange2;  
}

.teaser--partner:nth-of-type(4n-1) .teaser--partner__image {
  background-color: darken($orange1, 10%);
}

.teaser--partner:nth-of-type(4n+4) .teaser--partner__image {
  background: darken($orange2,10%);  
}


.teaser--partner__readmore {
  @include icon-right(white);
  position: absolute;
  font-size: 0;
  bottom: 40px;
  right: 30px;
  display: inline-block;
  z-index: 2;

  &:before {
    transform: scale(1.3) rotate(135deg);
  }
  &:after {
    transform: scale(1.3) rotate(-135deg);
  }

}

.teaser--partner__content {
  padding: 10px 30px 30px; 
}

.teaser--partner__type {
  font-size: 13px;
  line-height: 1.35;
  color: $black;
}

.teaser--partner__address {
  margin-top: 15px;
}

.teaser--partner__name {
  line-height: 1.35;
  font-size: 18px;
  margin-top: 0;
}
