@include MQ($tab) {

  .no-flexbox .teaser-insight--wrapper {
    @include clearfix;
  }

}

.flexbox .teaser-insight--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include MQ($desk) {
    justify-content: flex-start;
  }

}

.teaser--insight {
  display: inline-block;
  position: relative;
  background: $grey3;
  width: 300px;
  flex: 1 1 300px;

  &:hover {
    .teaser--insight__readmore:before,
    .teaser--insight__readmore:after {
      background-color: white;
    }
  }

  @include MQ($tab) {
    float: left;
    display: block;

    .flexbox & {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &:nth-of-type(4n+1) {
    background: $grey3;
  }

  &:nth-of-type(4n+2) {
    background-color: darken($grey3,4%);
  }

  &:nth-of-type(4n-1) {
    background-color: darken($grey3,8%);
  }

  &:nth-of-type(4n+4) {
    background-color: white;
  }

}



.teaser-insight--wrapper {
  
  .teaser--insight {
    flex-grow: 0;

    @include MQ($tab) {
      margin: 0 10px 20px 10px;
    }

    @include MQ($desk) {
      margin: 0 20px 20px 0;
    }
  
  }

}

.teaser--insight__readmore {
  @include icon-right($black);
  position: absolute;
  font-size: 0;
  bottom: 40px;
  right: 30px;
  display: inline-block;
  z-index: 2;

  &:before {
    transform: scale(1.3) rotate(135deg);
  }
  &:after {
    transform: scale(1.3) rotate(-135deg);
  }

}

.teaser--insight__content {
  width: 100%;
  height: 300px;
  padding: 20px; 
  position: relative;
}

.teaser--insight__date {
  font-size: 14px;
  margin-bottom: 5px;
}

.teaser--insight__title {
  text-align: center;
  font-weight: normal;
  font-family: $serif-font;
  line-height: 1.35;
  font-size: 26px;
  margin-top: 0;
  @include center(xy);
  position: absolute;
  width: 75%;
}
