@include MQ($tab) {

  .no-flexbox .teaser-event--wrapper {
    @include clearfix;
  }

}

.flexbox .teaser-event--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include MQ($desk) {
    justify-content: flex-start;
  }

}

.teaser--event {
  display: inline-block;
  position: relative;
  background: white;
  margin-bottom: 20px;
  width: 300px;
  flex: 1 1 300px;

  &:hover {
    .teaser--event__readmore:before,
    .teaser--event__readmore:after {
      background-color: $bright-blue;
    }
  }

}

.teaser-event--wrapper {
  
  .teaser--event {
    flex-grow: 0;

    @include MQ($tab) {
      margin: 0 10px 20px 10px;
    }

    @include MQ($desk) {
      margin: 0 20px 20px 0;
    }
  
  }

}

.teaser--event__image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: $bright-blue;

}

.teaser--event__readmore {
  @include icon-right(white);
  position: absolute;
  font-size: 0;
  bottom: 40px;
  right: 30px;
  display: inline-block;
  z-index: 2;

  &:before {
    transform: scale(1.3) rotate(135deg);
  }
  &:after {
    transform: scale(1.3) rotate(-135deg);
  }

}

.teaser--event__content {
  max-width: 320px;
  padding: 10px 30px 10px 30px; 
}

.teaser--event__date {
  font-size: 13px;
  line-height: 1.35;
  color: $black;
  margin-bottom: 8px;
}

.teaser--event__title {
  font-weight: normal;
  font-family: $serif-font;
  color: $bright-blue;
  line-height: 1.35;
  font-size: 22px;
  margin-top: 0;
}
