@include MQ($tab) {

  .no-flexbox .teaser-event--wrapper {
    @include clearfix;
  }

}

.flexbox .teaser-event--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.teaser--event {
  display: inline-block;
  position: relative;
  background: white url('../images/icon-event.svg') 95% 10% no-repeat;
  width: 300px;
  flex: 1 1 300px;
  min-height: 220px;

  &:hover {
    .teaser--event__readmore:before,
    .teaser--event__readmore:after {
      background-color: $bright-blue;
    }
  }

}

.flexbox .teaser-event--wrapper {

  .teaser--event {
    @include MQ(640px) {
      flex: 0 1 50%;
    }

    @include MQ($tab) {
      flex: 0 1 (100%/3);
    }

  }

}

.teaser--event__content {
  padding: 10px 30px 30px 30px;
}

.teaser--event__date {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.35;
  color: $black;
  margin-bottom: 3px;
  padding-right: 20px;
}

.teaser--event__location {
  font-size: 13px;
  line-height: 1.35;
  color: $black;
  margin-bottom: 20px;
  padding-right: 20px;
}

.teaser--event__title {
  display: inline-block;
  color: $bright-blue;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.15;
  margin-bottom: 5px;
}

.teaser--event.external-link .teaser--event__title {
  padding-right: 16px;
  background: url('../images/external-link.svg') 99% 4px / 14px auto no-repeat;
}
