.vertical-tabs {
  margin: 15px 0 15px 240px;
  border: 1px solid $lightgray;
  
  // Image field
  .views-field-field-picture {
    float: left;
    padding: 18px 0 0;

     img {
      margin-right: 15px;
      height: 19px; 
      width: auto;
     }

  }

  // Title field
  .views-field-field-teaser-title-1 {
    padding: 15px 0 20px 0;
    font-size: 22px;
    font-weight: bold;
  }

  // Body field
  .views-field-field-teaser-body {
    font-size: 14px;
  }

}

.vertical-tabs-list {
  width: 240px;
  margin: -1px 0 -1px -240px;
  float: left;
  background-color: white;
  position: relative;
  border-top: 1px solid $lightgray;
}

.vertical-tabs-pane {
  margin: 0;
  padding:15px 30px;
  border: 0;
}

.vertical-tabs-pane legend {
  display: none;
}

.vertical-tabs-pane fieldset legend {
  display: block;
}

// Layout of each tab
.vertical-tab-button  {
  background: #eee;
  border: 1px solid $lightgray;
  border-top: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;

  a {
    display: block;
    text-decoration: none;
    padding: 0.5em 0.6em;

    &:hover {
      outline: 1px dotted;
    }
  }
  
  &.selected {
    background-color: #fff;
    border-right-width: 0; 
  }

  &.selected strong {
    color: #000;
  }

  .summary {
    display: block;
  }

}

