// Colors
$deep-purple:   #623588;
$pink:          rgba(#af0086,0.9);
$bright-purple: rgba(#802688,0.9);
$orange1:       rgba(#ba5a41,0.9);
$orange2:       #c88c57;
$bright-blue:   rgba(#5daadc,0.9);
$deep-blue:     #639cbf;
$green:         #9fbd37; 

$black:         #222222;
$white:         #ffffff;
$grey1:         #f2f1ef; //body
$grey2:         #d8d5d0;
$grey3:         #e6e6e6;
$grey4:         #e6e5e3;
$grey5:         #cac5c1;
$grey6:         #e3dedb;

$blue: #00aeef;

$lightblue: #00cbef;
$white: #fff;

$lightgreen: #22DA5A;
$orange: #fab100;
$black: #000;
$darkgray: #333;
$normalgray: #666;
$lightgray: #999;
$lightergray: #d8d8d8;
$lightestgray: #efefef;

$base-font: 'PT-Sans', sans-serif;
$serif-font: 'PT-Serif', sans-serif;

$h1: 1.875em;
$h2: 1.5em;
$h3: 1.375em;
$h4: 1.2em;

$p: 14px;

$border-radius: 5px;
$margin: 10px;
$margin-big: 30px;

$tab: 768px; // 767px
$desk: 960px; // 960px
$plus: 1024px; // 1024px
$wide: 1200px; // 1200px
$wide-width: 1440px; // 1440px

$mobile-only: 767px; // mobile only