// Colors
$c0:  #222222;
$c1:  #461f6f; // Dark purple
$c2:  #6d136f; // Light purple
$c3:  #9d0d79; // Pink
$c4:  #a74f38; // Orange
$c5:  #994837; // Dark orange
$c6:  #b17539; // Yellow
$c7:  #a76f39; // Dark Yellow
$c8:  #529cc7; // Blue
$c9:  #9FBD37; // Green
$c10: #847f78; // Grey
$c11: #F1F0EE; // Body
$c12: #d7d3d0; // Light grey
$c13: #e4e2de; // Lighter grey
$c14: #f1f0ee; // lightest grey
$c14: #ccc8c1; // Medium grey

$blue: #00aeef;

$green: #9FBD37;

$lightblue: #00cbef;
$white: #fff;

$lightgreen: #22DA5A;
$orange: #fab100;
$black: #000;
$darkgray: #333;
$normalgray: #666;
$lightgray: #999;
$lightergray: #d8d8d8;
$lightestgray: #efefef;

$base-font: 'PT-Sans', sans-serif;

$h1: 1.875em;
$h2: 1.5em;
$h3: 1.375em;
$h4: 1.2em;

$p: 14px;

$border-radius: 5px;
$margin: 10px;
$margin-big: 30px;

$tab: 768px; // 767px
$desk: 960px; // 960px
$plus: 1024px; // 1024px
$wide: 1200px; // 1200px
$wide-width: 1440px; // 1440px

$mobile-only: 767px; // mobile only