
<ul class="menu">
  <li class="menu__item expanded">
    <a class="menu__link" href="/#0">Atoms</a>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/colors.html">Colors</a></li>
      <!--<li class="menu__item"><a class="menu__link" href="/typografie.html">Typografie</a></li>
      <li class="menu__item"><a class="menu__link" href="/iconen.html">Iconen</a></li>
      <li class="menu__item"><a class="menu__link" href="/buttons.html">Buttons</a></li>
      <li class="menu__item"><a class="menu__link" href="/formelements.html">Form elementen</a></li>
      <li class="menu__item"><a class="menu__link" href="/labels.html">Labels</a></li>
      <li class="menu__item"><a class="menu__link" href="/meldingen.html">Meldingen</a></li>
      <li class="menu__item"><a class="menu__link" href="/tabellen.html">Tabellen</a></li>-->
    </ul>
  </li>
  <li class="menu__item expanded">
    <a class="menu__link" href="/#0">Molecules</a>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/teaser-campaign.html">Teaser campaign</a></li>
      <li class="menu__item"><a class="menu__link" href="/teaser-news.html">Teaser news</a></li>
      <li class="menu__item"><a class="menu__link" href="/teaser-event.html">Teaser event</a></li>
      <li class="menu__item"><a class="menu__link" href="/teaser-insight.html">Teaser insight</a></li>
        <li class="menu__item"><a class="menu__link" href="/teaser-social-media.html">Teaser social media</a></li>
      <li class="menu__item"><a class="menu__link" href="/teaser-idea.html">Teaser idea</a></li>
      <li class="menu__item"><a class="menu__link" href="/breadcrumbs.html">Breadcrumbs</a></li>
        <!--
      <li class="menu__item"><a class="menu__link" href="/formitems.html">Form items</a></li>
      <li class="menu__item"><a class="menu__link" href="/product-infobox.html">Product infobox</a></li>
      
      <li class="menu__item"><a class="menu__link" href="/secondary-box.html">Secondary box</a></li>
      <li class="menu__item"><a class="menu__link" href="/list-box.html">List box</a></li>
      <li class="menu__item"><a class="menu__link" href="/verticale-tabs.html">Verticale tabs</a></li>-->
    </ul>
  </li>
  <li class="menu__item expanded">
    <a class="menu__link" href="#0">Organisms</a>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/header.html">Header</a></li>
      <li class="menu__item"><a class="menu__link" href="/footer.html">Footer</a></li>
      <!--<li class="menu__item"><a class="menu__link" href="/forms.html">Forms</a></li>-->
      <li class="menu__item"><a class="menu__link" href="/newsletter.html">Newsletter</a></li>
      <li class="menu__item"><a class="menu__link" href="/hero.html">Hero</a></li>
      <li class="menu__item"><a class="menu__link" href="/section-divider.html">Section divider</a></li>
      <li class="menu__item"><a class="menu__link" href="/action-bar.html">Action bar</a></li>
    </ul>
  </li>
  <li class="menu__item expanded">
    <a class="menu__link" href="/#0">Templates</a>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/template-home-lu.html">Home LU</a></li>
      <li class="menu__item"><a class="menu__link" href="/template-campaign.html">Campaign</a></li>
      <li class="menu__item"><a class="menu__link" href="/template-contact.html">Contact</a></li>
      <li class="menu__item"><a class="menu__link" href="/template-mycpnb.html">Mijn CPNB</a></li>
      <li class="menu__item"><a class="menu__link" href="/template-news.html">News</a></li>
    </ul>
  </li>
</ul>