<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#623588" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Deep Purple</h5>
    <strong>HEX</strong>: #623588 <br />
    <strong>RGB</strong>: 98 53 136 <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#802688" fill-opacity="0.9" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Bright Purple</h5>
    <strong>HEX</strong>: #802688 <br />
    <strong>RGB</strong>: 128 38 136 <br />
    <strong>Opacity</strong>: 90% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#AF0086" fill-opacity="0.9" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Pink</h5>
    <strong>HEX</strong>: #AF0086 <br />
    <strong>RGB</strong>: 175 0 134 <br />
    <strong>Opacity</strong>: 90% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#BA5A41" fill-opacity="0.9" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Orange 1</h5>
    <strong>HEX</strong>: #BA5A41 <br />
    <strong>RGB</strong>: 186 90 65 <br />
    <strong>Opacity</strong>: 90% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#C88C57" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Orange 2</h5>
    <strong>HEX</strong>: #C88C57 <br />
    <strong>RGB</strong>: 200 140 87 <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#5DAADC" fill-opacity="0.9" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Bright Blue</h5>
    <strong>HEX</strong>: #5DAADC <br />
    <strong>RGB</strong>: 93 170 220 <br />
    <strong>Opacity</strong>: 90% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#639CBF" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Deep Blue</h5>
    <strong>HEX</strong>: #639CBF <br />
    <strong>RGB</strong>: 99 156 191 <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#222222" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Black</h5>
    <strong>HEX</strong>: #222222 <br />
    <strong>RGB</strong>: 34 34 34 <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#FFFFFF" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>White</h5>
    <strong>HEX</strong>: #FFFFFF <br />
    <strong>RGB</strong>: 255 255 255 <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#F2F1EF" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 1</h5>
    <strong>HEX</strong>: #F2F1EF <br />
    <strong>RGB</strong>: 242 241 239  <br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#D8D5D0" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 2</h5>
    <strong>HEX</strong>: #D8D5D0 <br />
    <strong>RGB</strong>: 216 213 208<br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#E6E6E6" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 3</h5>
    <strong>HEX</strong>: #E6E6E6 <br />
    <strong>RGB</strong>: 230 230 230<br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>


<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#e6e5e3" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 4</h5>
    <strong>HEX</strong>: #E6E5E3 <br />
    <strong>RGB</strong>: 230 229 227<br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#CAC5C1" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 5</h5>
    <strong>HEX</strong>: #CAC5C1 <br />
    <strong>RGB</strong>: 202 197 193<br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>

<div class="media--mobile">
  <div class="media__figure--mobile">
    <svg fill="#E3DEDB" xmlns=http://www.w3.org/2000/svg viewBox="0 0 140 140"><rect width="140" height="140"/></svg>
  </div>
  <div class="media__body--mobile">
    <h5>Grey 6</h5>
    <strong>HEX</strong>: #E3DEDB <br />
    <strong>RGB</strong>: 227 222 219<br />
    <strong>Opacity</strong>: 100% 
  </div>
</div>
