---
basename: home-lu with-hero
template: true
title: Homepage Logged-in user
description:
---

{{> hero}}

<section class="section-default">  
  <h3 class="section--title">Onze campagnes</h3>
  
  <div class="teaser-campaign--wrapper">
    <div class="teaser-campaign--intro">
      <h2 class="teaser-campaign--intro__title">Doe ook mee met onze <span>succesvolle campagnes</span></h2>
    </div>
    {{> teaser-campaign}}
    {{> teaser-campaign}}
  </div>

  <a href="#0" class="section-readmore">Bekijk alle campagnes</a>

</section>

{{> section-divider}}